<!-- BEGIN BLOCK: Tab Biographie Entry -->
<!-- @include ./personendaten.html -->
            <div class="sr6-charactersheet-tab-biographie-grid">
<!-- @include ./sin.html -->
<!-- @include ./lebensstil.html -->
              <div class="sr6-charactersheet-tab-biographie-item--full">
<!-- @include ./connections.html -->
              </div>
              <div class="sr6-charactersheet-tab-biographie-item--full">
<!-- @include ./charakterbeschreibung.html -->
              </div>
            </div>
<!-- END BLOCK: Tab Biographie Entry -->
