<!-- BEGIN BLOCK: Tab Biographie Inhalt -->
<!-- @include ./sections/01-personendaten.html -->
<div class="sr6-charactersheet-tab-biographie-grid">
  <!-- @include ./sections/02-sin.html -->
  <!-- @include ./sections/03-lebensstil.html -->
  <div class="sr6-charactersheet-tab-biographie-item--full">
    <!-- @include ./sections/04-connections.html -->
  </div>
  <div class="sr6-charactersheet-tab-biographie-item--full">
    <!-- @include ./sections/05-charakterbeschreibung.html -->
  </div>
</div>
<!-- END BLOCK: Tab Biographie Inhalt -->
