<!-- BEGIN BLOCK: Biographie Persönliche Daten -->
            <div class="sr6-charactersheet-tab-biographie-personendaten">
              <h2
                class="sr6-charactersheet-kopfbereich-title"
                data-i18n="section.persoenliche_daten">
                Persönliche Daten
              </h2>

              <!-- BEGIN BLOCK: Zeile 1 - Name / Straßenname -->
              <div class="sr6-charactersheet-row sr6-charactersheet-row-2">
                <label class="sr6-charactersheet-field">
                  <span data-i18n="field.name">Name</span>
                  <input type="text" name="attr_sr6_bio_name" />
                </label>

                <label class="sr6-charactersheet-field">
                  <span data-i18n="field.strassenname">Straßenname</span>
                  <input type="text" name="attr_sr6_bio_strassenname" />
                </label>
              </div>
              <!-- END BLOCK: Zeile 1 - Name / Straßenname -->

              <!-- BEGIN BLOCK: Zeile 2 - Metatyp / Ethnizität / Alter / Geschlecht / Größe / Gewicht -->
              <div class="sr6-charactersheet-row sr6-charactersheet-row-6">
                <label class="sr6-charactersheet-field">
                  <span data-i18n="field.metatyp">Metatyp</span>
                  <input type="text" name="attr_sr6_bio_metatyp" />
                </label>

                <label class="sr6-charactersheet-field">
                  <span data-i18n="field.ethnizitaet">Ethnizität</span>
                  <input type="text" name="attr_sr6_bio_ethnizitaet" />
                </label>
                <label class="sr6-charactersheet-field">
                  <span data-i18n="field.alter">Alter</span>
                  <input type="text" name="attr_sr6_bio_alter" />
                </label>

                <label class="sr6-charactersheet-field">
                  <span data-i18n="field.geschlecht">Geschlecht</span>
                  <input type="text" name="attr_sr6_bio_geschlecht" />
                </label>

                <label class="sr6-charactersheet-field">
                  <span data-i18n="field.groesse">Größe</span>
                  <input type="text" name="attr_sr6_bio_groesse" />
                </label>

                <label class="sr6-charactersheet-field">
                  <span data-i18n="field.gewicht">Gewicht</span>
                  <input type="text" name="attr_sr6_bio_gewicht" />
                </label>
              </div>
              <!-- END BLOCK: Zeile 2 - Metatyp / Ethnizität / Alter / Geschlecht / Größe / Gewicht -->

              <!-- BEGIN BLOCK: Zeile 4 - Reputation / Fahndungslevel / Karma / Gesamtkarma -->
              <div class="sr6-charactersheet-row sr6-charactersheet-row-4">
                <label class="sr6-charactersheet-field">
                  <span data-i18n="field.reputation">Reputation</span>
                  <input type="text" name="attr_sr6_bio_reputation" />
                </label>

                <label class="sr6-charactersheet-field">
                  <span data-i18n="field.fahndungslevel">Fahndungslevel</span>
                  <input type="text" name="attr_sr6_bio_fahndungslevel" />
                </label>
                <label class="sr6-charactersheet-field">
                  <span data-i18n="field.karma">Karma</span>
                  <input type="text" name="attr_sr6_bio_karma" />
                </label>

                <label class="sr6-charactersheet-field">
                  <span data-i18n="field.gesamtkarma">Gesamtkarma</span>
                  <input type="text" name="attr_sr6_bio_gesamtkarma" />
                </label>
              </div>
              <!-- END BLOCK: Zeile 4 - Reputation / Fahndungslevel / Karma / Gesamtkarma -->
            </div>
<!-- END BLOCK: Biographie Persönliche Daten -->
