<!-- BEGIN BLOCK: Tab Kampf Entry -->
<div class="sr6-charactersheet-tab-kampf-grid">
  <!-- BEGIN BLOCK: Kampf Kernwerte -->
  <!-- @include ../../kampf/kampf-kernwerte.html -->
  <!-- END BLOCK: Kampf Kernwerte -->
  <!-- BEGIN BLOCK: Kampf Fernkampf -->
  <!-- @include ../../kampf/kampf-fernkampf.html -->
  <!-- END BLOCK: Kampf Fernkampf -->
  <!-- BEGIN BLOCK: Kampf Nahkampf -->
  <!-- @include ../../kampf/kampf-nahkampf.html -->
  <!-- END BLOCK: Kampf Nahkampf -->
  <!-- BEGIN BLOCK: Kampf Panzerung -->
  <!-- @include ../../kampf/kampf-panzerung.html -->
  <!-- END BLOCK: Kampf Panzerung -->
</div>
<!-- END BLOCK: Tab Kampf Entry -->
