<!-- BEGIN BLOCK: Spalte 2 - Zustandsmonitor -->
<div
  class="sr6-charactersheet-kopfbereich-spalte sr6-charactersheet-kopfbereich-spalte--zustand">
  <h2
    class="sr6-charactersheet-kopfbereich-title"
    data-i18n="section.zustandsmonitor">
    Zustandsmonitor
  </h2>
  <input type="hidden" name="attr_sr6_monitor_koerperlich_count" value="0" />
  <input type="hidden" name="attr_sr6_monitor_geistig_count" value="0" />
  <input type="hidden" name="attr_sr6_monitor_pool_mod" value="0" />

  <div class="sr6-charactersheet-zustandsmonitor-zeilen">
    <!-- BEGIN BLOCK: Monitor Körperlich -->
    <!-- @include ./kopfbereich-monitor-koerperlich.html -->
    <!-- END BLOCK: Monitor Körperlich -->

    <!-- BEGIN BLOCK: Monitor Geistig -->
    <!-- @include ./kopfbereich-monitor-geistig.html -->
    <!-- END BLOCK: Monitor Geistig -->
  </div>
</div>
<!-- END BLOCK: Spalte 2 - Zustandsmonitor -->
