<!-- BEGIN BLOCK: Monitor Reihe - Geistig -->
<div class="sr6-charactersheet-monitor-row">
  <span
    class="sr6-charactersheet-monitor-label"
    data-i18n="field.monitor_geistig"
    >Geistiger Zustand</span
  >
  <div class="sr6-charactersheet-monitor-track-wrap">
    <input type="text" name="attr_sr6_monitor_geistig" readonly />
    <div
      class="sr6-charactersheet-monitor-track-shell sr6-charactersheet-monitor-track-shell--geistig">
      <input type="hidden" name="attr_sr6_monitor_geistig_max" value="0" />
      <div
        class="sr6-charactersheet-monitor-track sr6-charactersheet-monitor-track--geistig">
        <label class="sr6-charactersheet-monitor-box"><input type="checkbox" name="attr_sr6_monitor_geistig_1" value="1" /><span></span></label>
        <label class="sr6-charactersheet-monitor-box"><input type="checkbox" name="attr_sr6_monitor_geistig_2" value="1" /><span></span></label>
        <label class="sr6-charactersheet-monitor-box sr6-charactersheet-monitor-box--mod" data-mod="-1"><input type="checkbox" name="attr_sr6_monitor_geistig_3" value="1" /><span>-1</span></label>
        <label class="sr6-charactersheet-monitor-box"><input type="checkbox" name="attr_sr6_monitor_geistig_4" value="1" /><span></span></label>
        <label class="sr6-charactersheet-monitor-box"><input type="checkbox" name="attr_sr6_monitor_geistig_5" value="1" /><span></span></label>
        <label class="sr6-charactersheet-monitor-box sr6-charactersheet-monitor-box--mod" data-mod="-2"><input type="checkbox" name="attr_sr6_monitor_geistig_6" value="1" /><span>-2</span></label>
        <label class="sr6-charactersheet-monitor-box"><input type="checkbox" name="attr_sr6_monitor_geistig_7" value="1" /><span></span></label>
        <label class="sr6-charactersheet-monitor-box"><input type="checkbox" name="attr_sr6_monitor_geistig_8" value="1" /><span></span></label>
        <label class="sr6-charactersheet-monitor-box sr6-charactersheet-monitor-box--mod" data-mod="-3"><input type="checkbox" name="attr_sr6_monitor_geistig_9" value="1" /><span>-3</span></label>
        <label class="sr6-charactersheet-monitor-box"><input type="checkbox" name="attr_sr6_monitor_geistig_10" value="1" /><span></span></label>
        <label class="sr6-charactersheet-monitor-box"><input type="checkbox" name="attr_sr6_monitor_geistig_11" value="1" /><span></span></label>
        <label class="sr6-charactersheet-monitor-box sr6-charactersheet-monitor-box--mod" data-mod="-4"><input type="checkbox" name="attr_sr6_monitor_geistig_12" value="1" /><span>-4</span></label>
        <label class="sr6-charactersheet-monitor-box"><input type="checkbox" name="attr_sr6_monitor_geistig_13" value="1" /><span></span></label>
        <label class="sr6-charactersheet-monitor-box"><input type="checkbox" name="attr_sr6_monitor_geistig_14" value="1" /><span></span></label>
        <label class="sr6-charactersheet-monitor-box sr6-charactersheet-monitor-box--mod" data-mod="-5"><input type="checkbox" name="attr_sr6_monitor_geistig_15" value="1" /><span>-5</span></label>
        <label class="sr6-charactersheet-monitor-box"><input type="checkbox" name="attr_sr6_monitor_geistig_16" value="1" /><span></span></label>
        <label class="sr6-charactersheet-monitor-box"><input type="checkbox" name="attr_sr6_monitor_geistig_17" value="1" /><span></span></label>
        <label class="sr6-charactersheet-monitor-box sr6-charactersheet-monitor-box--mod" data-mod="-6"><input type="checkbox" name="attr_sr6_monitor_geistig_18" value="1" /><span>-6</span></label>
      </div>
    </div>
  </div>
</div>
<!-- END BLOCK: Monitor Reihe - Geistig -->
