<!-- BEGIN BLOCK: Kopfbereich -->
<section class="sr6-charactersheet-kopfbereich" aria-label="Kopfbereich">
  <!-- BEGIN BLOCK: Kopfbereich Spalte Bild -->
  <!-- @include ./kopfbereich-bild.html -->
  <!-- END BLOCK: Kopfbereich Spalte Bild -->

  <!-- BEGIN BLOCK: Kopfbereich Spalte Zustandsmonitor -->
  <!-- @include ./kopfbereich-zustandsmonitor.html -->
  <!-- END BLOCK: Kopfbereich Spalte Zustandsmonitor -->

  <!-- BEGIN BLOCK: Kopfbereich Spalte Edge -->
  <!-- @include ./kopfbereich-edge-token.html -->
  <!-- END BLOCK: Kopfbereich Spalte Edge -->
</section>
<!-- END BLOCK: Kopfbereich -->
