<!-- BEGIN BLOCK: Spalte 1 - Initiative -->
<div
  class="sr6-charactersheet-kopfbereich-spalte sr6-charactersheet-kopfbereich-spalte--initiative">
  <h2
    class="sr6-charactersheet-kopfbereich-title"
    data-i18n="section.initiative">
    Initiative
  </h2>

  <div class="sr6-header-initiative-grid" aria-label="Initiative">
    <div class="sr6-header-initiative-column">
      <div class="sr6-field-label-with-info"><span data-i18n="field.physische_initiative">Physische Initiative</span><span class="sr6-info-icon" title="Physische Initiative (Basis) = sr6_attr_reaktion_gesamtwert + sr6_attr_intuition_gesamtwert">i</span></div>
      <div class="sr6-charactersheet-initiative-input">
        <input type="number" name="attr_sr6_derived_initiative_basis" readonly>
        <span class="sr6-charactersheet-initiative-dice-label" data-i18n="field.w6">W6</span>
        <div class="sr6-charactersheet-field-input-with-dice sr6-charactersheet-field-input-with-dice--compact">
          <div class="sr6-number-stepper"><button type="action" class="sr6-number-stepper-button sr6-number-stepper-button--minus" name="act_sr6_number_step" value="sr6_initiative_physisch_w6::-1" aria-label="Verringern">-</button><input type="number" name="attr_sr6_initiative_physisch_w6" value="1"><button type="action" class="sr6-number-stepper-button sr6-number-stepper-button--plus" name="act_sr6_number_step" value="sr6_initiative_physisch_w6::1" aria-label="Erhoehen">+</button></div><button type="action" class="sr6-charactersheet-field-dice-button" name="act_probe" value="&{template:default} {{name=Physische Initiative}} {{Initiative=Physische Initiative}} {{Basis=@{sr6_derived_initiative_basis}}} {{W6=@{sr6_initiative_physisch_w6}}}" aria-label="Wuerfeln"></button>
        </div>
      </div>

      <div class="sr6-field-label-with-info"><span data-i18n="field.a_initiative">A. Initiative</span><span class="sr6-info-icon" title="Astrale Initiative (Basis) = sr6_attr_logik_gesamtwert + sr6_attr_intuition_gesamtwert">i</span></div>
      <div class="sr6-charactersheet-initiative-input">
        <input type="number" name="attr_sr6_magic_astrale_initiative" readonly>
        <span class="sr6-charactersheet-initiative-dice-label" data-i18n="field.w6">W6</span>
        <div class="sr6-charactersheet-field-input-with-dice sr6-charactersheet-field-input-with-dice--compact">
          <div class="sr6-number-stepper"><button type="action" class="sr6-number-stepper-button sr6-number-stepper-button--minus" name="act_sr6_number_step" value="sr6_magic_astrale_initiative_w6::-1" aria-label="Verringern">-</button><input type="number" name="attr_sr6_magic_astrale_initiative_w6" value="3"><button type="action" class="sr6-number-stepper-button sr6-number-stepper-button--plus" name="act_sr6_number_step" value="sr6_magic_astrale_initiative_w6::1" aria-label="Erhoehen">+</button></div><button type="action" class="sr6-charactersheet-field-dice-button" name="act_probe" value="&{template:default} {{name=Astrale Initiative}} {{Initiative=Astrale Initiative}} {{Basis=@{sr6_magic_astrale_initiative}}} {{W6=@{sr6_magic_astrale_initiative_w6}}}" aria-label="Wuerfeln"></button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END BLOCK: Spalte 1 - Initiative -->
