<!-- BEGIN BLOCK: Menue Tabs -->
<!-- BEGIN BLOCK: Primäre Navigation innerhalb des Sheets -->
<div
  class="sr6-charactersheet-menu-tabs"
  role="tablist"
  aria-label="Datenbereiche">
  <input
    type="radio"
    name="sr6_daten_tab"
    id="sr6_daten_tab_1"
    checked />
  <label
    for="sr6_daten_tab_1"
    role="tab"
    aria-controls="sr6_daten_panel_1"
    data-i18n="tab.allgemein"
    >Allgemein</label
  >

  <input type="radio" name="sr6_daten_tab" id="sr6_daten_tab_2" />
  <label
    for="sr6_daten_tab_2"
    role="tab"
    aria-controls="sr6_daten_panel_2"
    data-i18n="tab.fertigkeiten"
    >Fertigkeiten</label
  >

  <input type="radio" name="sr6_daten_tab" id="sr6_daten_tab_3" />
  <label
    for="sr6_daten_tab_3"
    role="tab"
    aria-controls="sr6_daten_panel_3"
    data-i18n="tab.kampf"
    >Kampf</label
  >

  <input type="radio" name="sr6_daten_tab" id="sr6_daten_tab_4" />
  <label
    for="sr6_daten_tab_4"
    role="tab"
    aria-controls="sr6_daten_panel_4"
    data-i18n="tab.magie"
    >Magie</label
  >

  <input type="radio" name="sr6_daten_tab" id="sr6_daten_tab_5" />
  <label
    for="sr6_daten_tab_5"
    role="tab"
    aria-controls="sr6_daten_panel_5"
    data-i18n="tab.matrix"
    >Matrix</label
  >

  <input type="radio" name="sr6_daten_tab" id="sr6_daten_tab_6" />
  <label
    for="sr6_daten_tab_6"
    role="tab"
    aria-controls="sr6_daten_panel_6"
    data-i18n="tab.rigging"
    >Rigging</label
  >

  <input type="radio" name="sr6_daten_tab" id="sr6_daten_tab_7" />
  <label
    for="sr6_daten_tab_7"
    role="tab"
    aria-controls="sr6_daten_panel_7"
    data-i18n="tab.ausruestung"
    >Ausrüstung</label
  >

  <input type="radio" name="sr6_daten_tab" id="sr6_daten_tab_8" />
  <label
    for="sr6_daten_tab_8"
    role="tab"
    aria-controls="sr6_daten_panel_8"
    data-i18n="tab.biographie"
    >Biographie</label
  >

  <input type="radio" name="sr6_daten_tab" id="sr6_daten_tab_9" />
  <label
    for="sr6_daten_tab_9"
    role="tab"
    aria-controls="sr6_daten_panel_9"
    data-i18n="tab.einstellungen"
    >Einstellungen</label
  >
</div>
<!-- END BLOCK: Primäre Navigation innerhalb des Sheets -->
<!-- END BLOCK: Menue Tabs -->
