<!-- BEGIN BLOCK: Allgemein Tab Inhalt -->
<div class="sr6-charactersheet-tab-allgemein-grid">
  <div class="sr6-charactersheet-tab-allgemein-column">
    <!-- BEGIN BLOCK: Fertigkeiten (Allgemein) -->
    <!-- @include ./sections/03-fertigkeiten.html -->
    <!-- END BLOCK: Fertigkeiten (Allgemein) -->
  </div>

  <!-- BEGIN BLOCK: Allgemein Umbruch -->
  <div class="sr6-charactersheet-tab-allgemein-break" aria-hidden="true"></div>
  <!-- END BLOCK: Allgemein Umbruch -->
</div>
<!-- END BLOCK: Allgemein Tab Inhalt -->
