<!-- BEGIN BLOCK: Allgemein Tab Inhalt -->
<div class="sr6-charactersheet-tab-allgemein-grid">
  <div class="sr6-charactersheet-tab-allgemein-column">
    <!-- BEGIN BLOCK: Attribute -->
    <!-- @include ./attribute.html -->
    <!-- END BLOCK: Attribute -->
    <!-- BEGIN BLOCK: Initiative -->
    <!-- @include ./initiative.html -->
    <!-- END BLOCK: Initiative -->
  </div>
  <div class="sr6-charactersheet-tab-allgemein-column">
    <!-- BEGIN BLOCK: Fertigkeiten (Allgemein) -->
    <!-- @include ./fertigkeiten.html -->
    <!-- END BLOCK: Fertigkeiten (Allgemein) -->
  </div>

  <!-- BEGIN BLOCK: Allgemein Umbruch -->
  <div class="sr6-charactersheet-tab-allgemein-break" aria-hidden="true"></div>
  <!-- END BLOCK: Allgemein Umbruch -->

  <div class="sr6-charactersheet-tab-allgemein-column sr6-charactersheet-tab-allgemein-column--full">
    <!-- BEGIN BLOCK: Kampf -->
    <!-- @include ./kampf.html -->
    <!-- END BLOCK: Kampf -->
  </div>
  <div class="sr6-charactersheet-tab-allgemein-column">
    <!-- BEGIN BLOCK: Verteidigung -->
    <!-- @include ./verteidigung.html -->
    <!-- END BLOCK: Verteidigung -->
  </div>
  <div class="sr6-charactersheet-tab-allgemein-column">
    <!-- BEGIN BLOCK: Schadenswiderstand -->
    <!-- @include ./schadenswiderstand.html -->
    <!-- END BLOCK: Schadenswiderstand -->
  </div>
</div>
<!-- END BLOCK: Allgemein Tab Inhalt -->
