<!-- Runtime Global Roll Popup -->
<input type="checkbox" name="attr_sr6_roll_popup_open" value="1" class="sr6-roll-popup-open-toggle" />
<input type="checkbox" name="attr_sr6_roll_popup_slot_1_visible" value="1" class="sr6-roll-popup-slot-toggle sr6-roll-popup-slot-toggle--1" />
<input type="checkbox" name="attr_sr6_roll_popup_slot_2_visible" value="1" class="sr6-roll-popup-slot-toggle sr6-roll-popup-slot-toggle--2" />
<input type="checkbox" name="attr_sr6_roll_popup_slot_3_visible" value="1" class="sr6-roll-popup-slot-toggle sr6-roll-popup-slot-toggle--3" />
<input type="checkbox" name="attr_sr6_roll_popup_slot_4_visible" value="1" class="sr6-roll-popup-slot-toggle sr6-roll-popup-slot-toggle--4" />
<input type="checkbox" name="attr_sr6_roll_popup_slot_5_visible" value="1" class="sr6-roll-popup-slot-toggle sr6-roll-popup-slot-toggle--5" />
<input type="checkbox" name="attr_sr6_roll_popup_slot_6_visible" value="1" class="sr6-roll-popup-slot-toggle sr6-roll-popup-slot-toggle--6" />
<input type="checkbox" name="attr_sr6_roll_popup_slot_7_visible" value="1" class="sr6-roll-popup-slot-toggle sr6-roll-popup-slot-toggle--7" />
<input type="checkbox" name="attr_sr6_roll_popup_slot_1_is_number" value="1" class="sr6-roll-popup-slot-kind-toggle sr6-roll-popup-slot-kind-toggle--1-number" />
<input type="checkbox" name="attr_sr6_roll_popup_slot_2_is_number" value="1" class="sr6-roll-popup-slot-kind-toggle sr6-roll-popup-slot-kind-toggle--2-number" />
<input type="checkbox" name="attr_sr6_roll_popup_slot_3_is_number" value="1" class="sr6-roll-popup-slot-kind-toggle sr6-roll-popup-slot-kind-toggle--3-number" />
<input type="checkbox" name="attr_sr6_roll_popup_slot_4_is_number" value="1" class="sr6-roll-popup-slot-kind-toggle sr6-roll-popup-slot-kind-toggle--4-number" />
<input type="checkbox" name="attr_sr6_roll_popup_slot_5_is_number" value="1" class="sr6-roll-popup-slot-kind-toggle sr6-roll-popup-slot-kind-toggle--5-number" />
<input type="checkbox" name="attr_sr6_roll_popup_slot_6_is_number" value="1" class="sr6-roll-popup-slot-kind-toggle sr6-roll-popup-slot-kind-toggle--6-number" />
<input type="checkbox" name="attr_sr6_roll_popup_slot_7_is_number" value="1" class="sr6-roll-popup-slot-kind-toggle sr6-roll-popup-slot-kind-toggle--7-number" />
<input type="checkbox" name="attr_sr6_roll_popup_slot_1_is_text" value="1" class="sr6-roll-popup-slot-kind-toggle sr6-roll-popup-slot-kind-toggle--1-text" />
<input type="checkbox" name="attr_sr6_roll_popup_slot_2_is_text" value="1" class="sr6-roll-popup-slot-kind-toggle sr6-roll-popup-slot-kind-toggle--2-text" />
<input type="checkbox" name="attr_sr6_roll_popup_slot_3_is_text" value="1" class="sr6-roll-popup-slot-kind-toggle sr6-roll-popup-slot-kind-toggle--3-text" />
<input type="checkbox" name="attr_sr6_roll_popup_slot_4_is_text" value="1" class="sr6-roll-popup-slot-kind-toggle sr6-roll-popup-slot-kind-toggle--4-text" />
<input type="checkbox" name="attr_sr6_roll_popup_slot_5_is_text" value="1" class="sr6-roll-popup-slot-kind-toggle sr6-roll-popup-slot-kind-toggle--5-text" />
<input type="checkbox" name="attr_sr6_roll_popup_slot_6_is_text" value="1" class="sr6-roll-popup-slot-kind-toggle sr6-roll-popup-slot-kind-toggle--6-text" />
<input type="checkbox" name="attr_sr6_roll_popup_slot_7_is_text" value="1" class="sr6-roll-popup-slot-kind-toggle sr6-roll-popup-slot-kind-toggle--7-text" />
<input type="checkbox" name="attr_sr6_roll_popup_slot_1_is_select" value="1" class="sr6-roll-popup-slot-kind-toggle sr6-roll-popup-slot-kind-toggle--1-select" />
<input type="checkbox" name="attr_sr6_roll_popup_slot_2_is_select" value="1" class="sr6-roll-popup-slot-kind-toggle sr6-roll-popup-slot-kind-toggle--2-select" />
<input type="checkbox" name="attr_sr6_roll_popup_slot_3_is_select" value="1" class="sr6-roll-popup-slot-kind-toggle sr6-roll-popup-slot-kind-toggle--3-select" />
<input type="checkbox" name="attr_sr6_roll_popup_slot_4_is_select" value="1" class="sr6-roll-popup-slot-kind-toggle sr6-roll-popup-slot-kind-toggle--4-select" />
<input type="checkbox" name="attr_sr6_roll_popup_slot_5_is_select" value="1" class="sr6-roll-popup-slot-kind-toggle sr6-roll-popup-slot-kind-toggle--5-select" />
<input type="checkbox" name="attr_sr6_roll_popup_slot_6_is_select" value="1" class="sr6-roll-popup-slot-kind-toggle sr6-roll-popup-slot-kind-toggle--6-select" />
<input type="checkbox" name="attr_sr6_roll_popup_slot_7_is_select" value="1" class="sr6-roll-popup-slot-kind-toggle sr6-roll-popup-slot-kind-toggle--7-select" />
<input type="checkbox" name="attr_sr6_roll_popup_slot_1_is_checkbox" value="1" class="sr6-roll-popup-slot-kind-toggle sr6-roll-popup-slot-kind-toggle--1-checkbox" />
<input type="checkbox" name="attr_sr6_roll_popup_slot_2_is_checkbox" value="1" class="sr6-roll-popup-slot-kind-toggle sr6-roll-popup-slot-kind-toggle--2-checkbox" />
<input type="checkbox" name="attr_sr6_roll_popup_slot_3_is_checkbox" value="1" class="sr6-roll-popup-slot-kind-toggle sr6-roll-popup-slot-kind-toggle--3-checkbox" />
<input type="checkbox" name="attr_sr6_roll_popup_slot_4_is_checkbox" value="1" class="sr6-roll-popup-slot-kind-toggle sr6-roll-popup-slot-kind-toggle--4-checkbox" />
<input type="checkbox" name="attr_sr6_roll_popup_slot_5_is_checkbox" value="1" class="sr6-roll-popup-slot-kind-toggle sr6-roll-popup-slot-kind-toggle--5-checkbox" />
<input type="checkbox" name="attr_sr6_roll_popup_slot_6_is_checkbox" value="1" class="sr6-roll-popup-slot-kind-toggle sr6-roll-popup-slot-kind-toggle--6-checkbox" />
<input type="checkbox" name="attr_sr6_roll_popup_slot_7_is_checkbox" value="1" class="sr6-roll-popup-slot-kind-toggle sr6-roll-popup-slot-kind-toggle--7-checkbox" />
<input type="checkbox" name="attr_sr6_roll_popup_slot_1_requires_previous_checkbox" value="1" class="sr6-roll-popup-slot-dependency-toggle sr6-roll-popup-slot-dependency-toggle--1" />
<input type="checkbox" name="attr_sr6_roll_popup_slot_2_requires_previous_checkbox" value="1" class="sr6-roll-popup-slot-dependency-toggle sr6-roll-popup-slot-dependency-toggle--2" />
<input type="checkbox" name="attr_sr6_roll_popup_slot_3_requires_previous_checkbox" value="1" class="sr6-roll-popup-slot-dependency-toggle sr6-roll-popup-slot-dependency-toggle--3" />
<input type="checkbox" name="attr_sr6_roll_popup_slot_4_requires_previous_checkbox" value="1" class="sr6-roll-popup-slot-dependency-toggle sr6-roll-popup-slot-dependency-toggle--4" />
<input type="checkbox" name="attr_sr6_roll_popup_slot_5_requires_previous_checkbox" value="1" class="sr6-roll-popup-slot-dependency-toggle sr6-roll-popup-slot-dependency-toggle--5" />
<input type="checkbox" name="attr_sr6_roll_popup_slot_6_requires_previous_checkbox" value="1" class="sr6-roll-popup-slot-dependency-toggle sr6-roll-popup-slot-dependency-toggle--6" />
<input type="checkbox" name="attr_sr6_roll_popup_slot_7_requires_previous_checkbox" value="1" class="sr6-roll-popup-slot-dependency-toggle sr6-roll-popup-slot-dependency-toggle--7" />
<input type="checkbox" name="attr_sr6_roll_popup_slot_1_option_visibility" value="1" class="sr6-roll-popup-slot-option-toggle sr6-roll-popup-slot-option-toggle--1-visibility" />
<input type="checkbox" name="attr_sr6_roll_popup_slot_2_option_visibility" value="1" class="sr6-roll-popup-slot-option-toggle sr6-roll-popup-slot-option-toggle--2-visibility" />
<input type="checkbox" name="attr_sr6_roll_popup_slot_3_option_visibility" value="1" class="sr6-roll-popup-slot-option-toggle sr6-roll-popup-slot-option-toggle--3-visibility" />
<input type="checkbox" name="attr_sr6_roll_popup_slot_4_option_visibility" value="1" class="sr6-roll-popup-slot-option-toggle sr6-roll-popup-slot-option-toggle--4-visibility" />
<input type="checkbox" name="attr_sr6_roll_popup_slot_5_option_visibility" value="1" class="sr6-roll-popup-slot-option-toggle sr6-roll-popup-slot-option-toggle--5-visibility" />
<input type="checkbox" name="attr_sr6_roll_popup_slot_6_option_visibility" value="1" class="sr6-roll-popup-slot-option-toggle sr6-roll-popup-slot-option-toggle--6-visibility" />
<input type="checkbox" name="attr_sr6_roll_popup_slot_7_option_visibility" value="1" class="sr6-roll-popup-slot-option-toggle sr6-roll-popup-slot-option-toggle--7-visibility" />
<input type="checkbox" name="attr_sr6_roll_popup_slot_1_option_movement" value="1" class="sr6-roll-popup-slot-option-toggle sr6-roll-popup-slot-option-toggle--1-movement" />
<input type="checkbox" name="attr_sr6_roll_popup_slot_2_option_movement" value="1" class="sr6-roll-popup-slot-option-toggle sr6-roll-popup-slot-option-toggle--2-movement" />
<input type="checkbox" name="attr_sr6_roll_popup_slot_3_option_movement" value="1" class="sr6-roll-popup-slot-option-toggle sr6-roll-popup-slot-option-toggle--3-movement" />
<input type="checkbox" name="attr_sr6_roll_popup_slot_4_option_movement" value="1" class="sr6-roll-popup-slot-option-toggle sr6-roll-popup-slot-option-toggle--4-movement" />
<input type="checkbox" name="attr_sr6_roll_popup_slot_5_option_movement" value="1" class="sr6-roll-popup-slot-option-toggle sr6-roll-popup-slot-option-toggle--5-movement" />
<input type="checkbox" name="attr_sr6_roll_popup_slot_6_option_movement" value="1" class="sr6-roll-popup-slot-option-toggle sr6-roll-popup-slot-option-toggle--6-movement" />
<input type="checkbox" name="attr_sr6_roll_popup_slot_7_option_movement" value="1" class="sr6-roll-popup-slot-option-toggle sr6-roll-popup-slot-option-toggle--7-movement" />
<input type="checkbox" name="attr_sr6_roll_popup_slot_1_option_spell_range" value="1" class="sr6-roll-popup-slot-option-toggle sr6-roll-popup-slot-option-toggle--1-spell-range" />
<input type="checkbox" name="attr_sr6_roll_popup_slot_2_option_spell_range" value="1" class="sr6-roll-popup-slot-option-toggle sr6-roll-popup-slot-option-toggle--2-spell-range" />
<input type="checkbox" name="attr_sr6_roll_popup_slot_3_option_spell_range" value="1" class="sr6-roll-popup-slot-option-toggle sr6-roll-popup-slot-option-toggle--3-spell-range" />
<input type="checkbox" name="attr_sr6_roll_popup_slot_4_option_spell_range" value="1" class="sr6-roll-popup-slot-option-toggle sr6-roll-popup-slot-option-toggle--4-spell-range" />
<input type="checkbox" name="attr_sr6_roll_popup_slot_5_option_spell_range" value="1" class="sr6-roll-popup-slot-option-toggle sr6-roll-popup-slot-option-toggle--5-spell-range" />
<input type="checkbox" name="attr_sr6_roll_popup_slot_6_option_spell_range" value="1" class="sr6-roll-popup-slot-option-toggle sr6-roll-popup-slot-option-toggle--6-spell-range" />
<input type="checkbox" name="attr_sr6_roll_popup_slot_7_option_spell_range" value="1" class="sr6-roll-popup-slot-option-toggle sr6-roll-popup-slot-option-toggle--7-spell-range" />
<input type="checkbox" name="attr_sr6_roll_popup_slot_1_option_matrix_access" value="1" class="sr6-roll-popup-slot-option-toggle sr6-roll-popup-slot-option-toggle--1-matrix-access" />
<input type="checkbox" name="attr_sr6_roll_popup_slot_2_option_matrix_access" value="1" class="sr6-roll-popup-slot-option-toggle sr6-roll-popup-slot-option-toggle--2-matrix-access" />
<input type="checkbox" name="attr_sr6_roll_popup_slot_3_option_matrix_access" value="1" class="sr6-roll-popup-slot-option-toggle sr6-roll-popup-slot-option-toggle--3-matrix-access" />
<input type="checkbox" name="attr_sr6_roll_popup_slot_4_option_matrix_access" value="1" class="sr6-roll-popup-slot-option-toggle sr6-roll-popup-slot-option-toggle--4-matrix-access" />
<input type="checkbox" name="attr_sr6_roll_popup_slot_5_option_matrix_access" value="1" class="sr6-roll-popup-slot-option-toggle sr6-roll-popup-slot-option-toggle--5-matrix-access" />
<input type="checkbox" name="attr_sr6_roll_popup_slot_6_option_matrix_access" value="1" class="sr6-roll-popup-slot-option-toggle sr6-roll-popup-slot-option-toggle--6-matrix-access" />
<input type="checkbox" name="attr_sr6_roll_popup_slot_7_option_matrix_access" value="1" class="sr6-roll-popup-slot-option-toggle sr6-roll-popup-slot-option-toggle--7-matrix-access" />
<input type="checkbox" name="attr_sr6_roll_popup_slot_1_option_ammo" value="1" class="sr6-roll-popup-slot-option-toggle sr6-roll-popup-slot-option-toggle--1-ammo" />
<input type="checkbox" name="attr_sr6_roll_popup_slot_2_option_ammo" value="1" class="sr6-roll-popup-slot-option-toggle sr6-roll-popup-slot-option-toggle--2-ammo" />
<input type="checkbox" name="attr_sr6_roll_popup_slot_3_option_ammo" value="1" class="sr6-roll-popup-slot-option-toggle sr6-roll-popup-slot-option-toggle--3-ammo" />
<input type="checkbox" name="attr_sr6_roll_popup_slot_4_option_ammo" value="1" class="sr6-roll-popup-slot-option-toggle sr6-roll-popup-slot-option-toggle--4-ammo" />
<input type="checkbox" name="attr_sr6_roll_popup_slot_5_option_ammo" value="1" class="sr6-roll-popup-slot-option-toggle sr6-roll-popup-slot-option-toggle--5-ammo" />
<input type="checkbox" name="attr_sr6_roll_popup_slot_6_option_ammo" value="1" class="sr6-roll-popup-slot-option-toggle sr6-roll-popup-slot-option-toggle--6-ammo" />
<input type="checkbox" name="attr_sr6_roll_popup_slot_7_option_ammo" value="1" class="sr6-roll-popup-slot-option-toggle sr6-roll-popup-slot-option-toggle--7-ammo" />
<input type="checkbox" name="attr_sr6_roll_popup_slot_1_option_melee_attribute" value="1" class="sr6-roll-popup-slot-option-toggle sr6-roll-popup-slot-option-toggle--1-melee-attribute" />
<input type="checkbox" name="attr_sr6_roll_popup_slot_2_option_melee_attribute" value="1" class="sr6-roll-popup-slot-option-toggle sr6-roll-popup-slot-option-toggle--2-melee-attribute" />
<input type="checkbox" name="attr_sr6_roll_popup_slot_3_option_melee_attribute" value="1" class="sr6-roll-popup-slot-option-toggle sr6-roll-popup-slot-option-toggle--3-melee-attribute" />
<input type="checkbox" name="attr_sr6_roll_popup_slot_4_option_melee_attribute" value="1" class="sr6-roll-popup-slot-option-toggle sr6-roll-popup-slot-option-toggle--4-melee-attribute" />
<input type="checkbox" name="attr_sr6_roll_popup_slot_5_option_melee_attribute" value="1" class="sr6-roll-popup-slot-option-toggle sr6-roll-popup-slot-option-toggle--5-melee-attribute" />
<input type="checkbox" name="attr_sr6_roll_popup_slot_6_option_melee_attribute" value="1" class="sr6-roll-popup-slot-option-toggle sr6-roll-popup-slot-option-toggle--6-melee-attribute" />
<input type="checkbox" name="attr_sr6_roll_popup_slot_7_option_melee_attribute" value="1" class="sr6-roll-popup-slot-option-toggle sr6-roll-popup-slot-option-toggle--7-melee-attribute" />
<input type="hidden" name="attr_sr6_roll_popup_definition" value="" />
<input type="hidden" name="attr_sr6_roll_popup_template" value="" />
<input type="hidden" name="attr_sr6_roll_popup_row_prefix" value="" />

<div class="sr6-roll-popup-overlay" aria-hidden="true">
  <div class="sr6-roll-popup-dialog" role="dialog" aria-modal="true" aria-labelledby="sr6-roll-popup-title">
    <div class="sr6-roll-popup-header">
      <h3 id="sr6-roll-popup-title" data-i18n="ui.roll_popup_title">Wurf-Modifikator</h3>
    </div>

    <div class="sr6-roll-popup-content">
      <label class="sr6-roll-popup-field sr6-roll-popup-field--1">
        <input type="text" name="attr_sr6_roll_popup_slot_1_label" value="" readonly class="sr6-roll-popup-field-label" />
        <input type="number" name="attr_sr6_roll_popup_value_1_number" value="0" class="sr6-roll-popup-field-input sr6-roll-popup-field-input--number" />
        <input type="text" name="attr_sr6_roll_popup_value_1_text" value="" class="sr6-roll-popup-field-input sr6-roll-popup-field-input--text" />
        <input type="checkbox" name="attr_sr6_roll_popup_value_1_checkbox" value="1" class="sr6-roll-popup-field-input sr6-roll-popup-field-input--checkbox" />
        <select name="attr_sr6_roll_popup_value_1_select_visibility" class="sr6-roll-popup-field-input sr6-roll-popup-field-input--select sr6-roll-popup-field-input--select-visibility">
          <option value="clear" data-i18n="field.popup_sicht_klar">Klare Sicht</option>
          <option value="partial" data-i18n="field.popup_sicht_leicht">Leicht verdeckt</option>
          <option value="heavy" data-i18n="field.popup_sicht_stark">Stark verdeckt</option>
          <option value="blind" data-i18n="field.popup_sicht_blind">Blindes Feuer</option>
        </select>
        <select name="attr_sr6_roll_popup_value_1_select_movement" class="sr6-roll-popup-field-input sr6-roll-popup-field-input--select sr6-roll-popup-field-input--select-movement">
          <option value="steady" data-i18n="field.popup_bewegung_ruhig">Ruhiges Ziel</option>
          <option value="walking" data-i18n="field.popup_bewegung_leicht">Leichte Bewegung</option>
          <option value="running" data-i18n="field.popup_bewegung_schnell">Schnelle Bewegung</option>
        </select>
        <select name="attr_sr6_roll_popup_value_1_select_spell_range" class="sr6-roll-popup-field-input sr6-roll-popup-field-input--select sr6-roll-popup-field-input--select-spell-range">
          <option value="Selbst" data-i18n="field.reichweite_selbst">Selbst</option>
          <option value="Beruehrung" data-i18n="field.reichweite_beruehrung">Berührung</option>
          <option value="Sicht" data-i18n="field.reichweite_sicht">Sicht</option>
          <option value="Spezial" data-i18n="field.reichweite_spezial">Spezial</option>
        </select>
        <select name="attr_sr6_roll_popup_value_1_select_matrix_access" class="sr6-roll-popup-field-input sr6-roll-popup-field-input--select sr6-roll-popup-field-input--select-matrix-access">
          <option value="Benutzer" data-i18n="field.matrix_zugriff_benutzer">Benutzer</option>
          <option value="Admin" data-i18n="field.matrix_zugriff_admin">Admin</option>
          <option value="Root" data-i18n="field.matrix_zugriff_root">Root</option>
        </select>
        <select name="attr_sr6_roll_popup_value_1_select_ammo" class="sr6-roll-popup-field-input sr6-roll-popup-field-input--select sr6-roll-popup-field-input--select-ammo">
          <option value="Standard" data-i18n="field.munition_standard">Standard</option>
          <option value="Huelsenlos" data-i18n="field.munition_huelsenlos">Hülsenlos</option>
          <option value="APDS" data-i18n="field.munition_apds">APDS</option>
          <option value="Explosiv" data-i18n="field.munition_explosiv">Explosiv</option>
          <option value="Flechette" data-i18n="field.munition_flechette">Flechette</option>
          <option value="Gel" data-i18n="field.munition_gel">Gel</option>
          <option value="Injektionspfeil" data-i18n="field.munition_injektionspfeil">Injektionspfeil</option>
          <option value="Schocker" data-i18n="field.munition_schocker">Schocker</option>
          <option value="DMSO-Gelpack" data-i18n="field.munition_dmso_gelpack">DMSO-Gelpack</option>
        </select>
        <select name="attr_sr6_roll_popup_value_1_select_melee_attribute" class="sr6-roll-popup-field-input sr6-roll-popup-field-input--select sr6-roll-popup-field-input--select-melee-attribute">
          <option value="Geschicklichkeit" data-i18n="field.geschicklichkeit">Geschicklichkeit</option>
          <option value="Stärke" data-i18n="field.staerke">Stärke</option>
        </select>
      </label>
      <label class="sr6-roll-popup-field sr6-roll-popup-field--2">
        <input type="text" name="attr_sr6_roll_popup_slot_2_label" value="" readonly class="sr6-roll-popup-field-label" />
        <input type="number" name="attr_sr6_roll_popup_value_2_number" value="0" class="sr6-roll-popup-field-input sr6-roll-popup-field-input--number" />
        <input type="text" name="attr_sr6_roll_popup_value_2_text" value="" class="sr6-roll-popup-field-input sr6-roll-popup-field-input--text" />
        <input type="checkbox" name="attr_sr6_roll_popup_value_2_checkbox" value="1" class="sr6-roll-popup-field-input sr6-roll-popup-field-input--checkbox" />
        <select name="attr_sr6_roll_popup_value_2_select_visibility" class="sr6-roll-popup-field-input sr6-roll-popup-field-input--select sr6-roll-popup-field-input--select-visibility">
          <option value="clear" data-i18n="field.popup_sicht_klar">Klare Sicht</option>
          <option value="partial" data-i18n="field.popup_sicht_leicht">Leicht verdeckt</option>
          <option value="heavy" data-i18n="field.popup_sicht_stark">Stark verdeckt</option>
          <option value="blind" data-i18n="field.popup_sicht_blind">Blindes Feuer</option>
        </select>
        <select name="attr_sr6_roll_popup_value_2_select_movement" class="sr6-roll-popup-field-input sr6-roll-popup-field-input--select sr6-roll-popup-field-input--select-movement">
          <option value="steady" data-i18n="field.popup_bewegung_ruhig">Ruhiges Ziel</option>
          <option value="walking" data-i18n="field.popup_bewegung_leicht">Leichte Bewegung</option>
          <option value="running" data-i18n="field.popup_bewegung_schnell">Schnelle Bewegung</option>
        </select>
        <select name="attr_sr6_roll_popup_value_2_select_spell_range" class="sr6-roll-popup-field-input sr6-roll-popup-field-input--select sr6-roll-popup-field-input--select-spell-range">
          <option value="Selbst" data-i18n="field.reichweite_selbst">Selbst</option>
          <option value="Beruehrung" data-i18n="field.reichweite_beruehrung">Berührung</option>
          <option value="Sicht" data-i18n="field.reichweite_sicht">Sicht</option>
          <option value="Spezial" data-i18n="field.reichweite_spezial">Spezial</option>
        </select>
        <select name="attr_sr6_roll_popup_value_2_select_matrix_access" class="sr6-roll-popup-field-input sr6-roll-popup-field-input--select sr6-roll-popup-field-input--select-matrix-access">
          <option value="Benutzer" data-i18n="field.matrix_zugriff_benutzer">Benutzer</option>
          <option value="Admin" data-i18n="field.matrix_zugriff_admin">Admin</option>
          <option value="Root" data-i18n="field.matrix_zugriff_root">Root</option>
        </select>
        <select name="attr_sr6_roll_popup_value_2_select_ammo" class="sr6-roll-popup-field-input sr6-roll-popup-field-input--select sr6-roll-popup-field-input--select-ammo">
          <option value="Standard" data-i18n="field.munition_standard">Standard</option>
          <option value="Huelsenlos" data-i18n="field.munition_huelsenlos">Hülsenlos</option>
          <option value="APDS" data-i18n="field.munition_apds">APDS</option>
          <option value="Explosiv" data-i18n="field.munition_explosiv">Explosiv</option>
          <option value="Flechette" data-i18n="field.munition_flechette">Flechette</option>
          <option value="Gel" data-i18n="field.munition_gel">Gel</option>
          <option value="Injektionspfeil" data-i18n="field.munition_injektionspfeil">Injektionspfeil</option>
          <option value="Schocker" data-i18n="field.munition_schocker">Schocker</option>
          <option value="DMSO-Gelpack" data-i18n="field.munition_dmso_gelpack">DMSO-Gelpack</option>
        </select>
        <select name="attr_sr6_roll_popup_value_2_select_melee_attribute" class="sr6-roll-popup-field-input sr6-roll-popup-field-input--select sr6-roll-popup-field-input--select-melee-attribute">
          <option value="Geschicklichkeit" data-i18n="field.geschicklichkeit">Geschicklichkeit</option>
          <option value="Stärke" data-i18n="field.staerke">Stärke</option>
        </select>
      </label>
      <label class="sr6-roll-popup-field sr6-roll-popup-field--3">
        <input type="text" name="attr_sr6_roll_popup_slot_3_label" value="" readonly class="sr6-roll-popup-field-label" />
        <input type="number" name="attr_sr6_roll_popup_value_3_number" value="0" class="sr6-roll-popup-field-input sr6-roll-popup-field-input--number" />
        <input type="text" name="attr_sr6_roll_popup_value_3_text" value="" class="sr6-roll-popup-field-input sr6-roll-popup-field-input--text" />
        <input type="checkbox" name="attr_sr6_roll_popup_value_3_checkbox" value="1" class="sr6-roll-popup-field-input sr6-roll-popup-field-input--checkbox" />
        <select name="attr_sr6_roll_popup_value_3_select_visibility" class="sr6-roll-popup-field-input sr6-roll-popup-field-input--select sr6-roll-popup-field-input--select-visibility">
          <option value="clear" data-i18n="field.popup_sicht_klar">Klare Sicht</option>
          <option value="partial" data-i18n="field.popup_sicht_leicht">Leicht verdeckt</option>
          <option value="heavy" data-i18n="field.popup_sicht_stark">Stark verdeckt</option>
          <option value="blind" data-i18n="field.popup_sicht_blind">Blindes Feuer</option>
        </select>
        <select name="attr_sr6_roll_popup_value_3_select_movement" class="sr6-roll-popup-field-input sr6-roll-popup-field-input--select sr6-roll-popup-field-input--select-movement">
          <option value="steady" data-i18n="field.popup_bewegung_ruhig">Ruhiges Ziel</option>
          <option value="walking" data-i18n="field.popup_bewegung_leicht">Leichte Bewegung</option>
          <option value="running" data-i18n="field.popup_bewegung_schnell">Schnelle Bewegung</option>
        </select>
        <select name="attr_sr6_roll_popup_value_3_select_spell_range" class="sr6-roll-popup-field-input sr6-roll-popup-field-input--select sr6-roll-popup-field-input--select-spell-range">
          <option value="Selbst" data-i18n="field.reichweite_selbst">Selbst</option>
          <option value="Beruehrung" data-i18n="field.reichweite_beruehrung">Berührung</option>
          <option value="Sicht" data-i18n="field.reichweite_sicht">Sicht</option>
          <option value="Spezial" data-i18n="field.reichweite_spezial">Spezial</option>
        </select>
        <select name="attr_sr6_roll_popup_value_3_select_matrix_access" class="sr6-roll-popup-field-input sr6-roll-popup-field-input--select sr6-roll-popup-field-input--select-matrix-access">
          <option value="Benutzer" data-i18n="field.matrix_zugriff_benutzer">Benutzer</option>
          <option value="Admin" data-i18n="field.matrix_zugriff_admin">Admin</option>
          <option value="Root" data-i18n="field.matrix_zugriff_root">Root</option>
        </select>
        <select name="attr_sr6_roll_popup_value_3_select_ammo" class="sr6-roll-popup-field-input sr6-roll-popup-field-input--select sr6-roll-popup-field-input--select-ammo">
          <option value="Standard" data-i18n="field.munition_standard">Standard</option>
          <option value="Huelsenlos" data-i18n="field.munition_huelsenlos">Hülsenlos</option>
          <option value="APDS" data-i18n="field.munition_apds">APDS</option>
          <option value="Explosiv" data-i18n="field.munition_explosiv">Explosiv</option>
          <option value="Flechette" data-i18n="field.munition_flechette">Flechette</option>
          <option value="Gel" data-i18n="field.munition_gel">Gel</option>
          <option value="Injektionspfeil" data-i18n="field.munition_injektionspfeil">Injektionspfeil</option>
          <option value="Schocker" data-i18n="field.munition_schocker">Schocker</option>
          <option value="DMSO-Gelpack" data-i18n="field.munition_dmso_gelpack">DMSO-Gelpack</option>
        </select>
        <select name="attr_sr6_roll_popup_value_3_select_melee_attribute" class="sr6-roll-popup-field-input sr6-roll-popup-field-input--select sr6-roll-popup-field-input--select-melee-attribute">
          <option value="Geschicklichkeit" data-i18n="field.geschicklichkeit">Geschicklichkeit</option>
          <option value="Stärke" data-i18n="field.staerke">Stärke</option>
        </select>
      </label>
      <label class="sr6-roll-popup-field sr6-roll-popup-field--4">
        <input type="text" name="attr_sr6_roll_popup_slot_4_label" value="" readonly class="sr6-roll-popup-field-label" />
        <input type="number" name="attr_sr6_roll_popup_value_4_number" value="0" class="sr6-roll-popup-field-input sr6-roll-popup-field-input--number" />
        <input type="text" name="attr_sr6_roll_popup_value_4_text" value="" class="sr6-roll-popup-field-input sr6-roll-popup-field-input--text" />
        <input type="checkbox" name="attr_sr6_roll_popup_value_4_checkbox" value="1" class="sr6-roll-popup-field-input sr6-roll-popup-field-input--checkbox" />
        <select name="attr_sr6_roll_popup_value_4_select_visibility" class="sr6-roll-popup-field-input sr6-roll-popup-field-input--select sr6-roll-popup-field-input--select-visibility">
          <option value="clear" data-i18n="field.popup_sicht_klar">Klare Sicht</option>
          <option value="partial" data-i18n="field.popup_sicht_leicht">Leicht verdeckt</option>
          <option value="heavy" data-i18n="field.popup_sicht_stark">Stark verdeckt</option>
          <option value="blind" data-i18n="field.popup_sicht_blind">Blindes Feuer</option>
        </select>
        <select name="attr_sr6_roll_popup_value_4_select_movement" class="sr6-roll-popup-field-input sr6-roll-popup-field-input--select sr6-roll-popup-field-input--select-movement">
          <option value="steady" data-i18n="field.popup_bewegung_ruhig">Ruhiges Ziel</option>
          <option value="walking" data-i18n="field.popup_bewegung_leicht">Leichte Bewegung</option>
          <option value="running" data-i18n="field.popup_bewegung_schnell">Schnelle Bewegung</option>
        </select>
        <select name="attr_sr6_roll_popup_value_4_select_spell_range" class="sr6-roll-popup-field-input sr6-roll-popup-field-input--select sr6-roll-popup-field-input--select-spell-range">
          <option value="Selbst" data-i18n="field.reichweite_selbst">Selbst</option>
          <option value="Beruehrung" data-i18n="field.reichweite_beruehrung">Berührung</option>
          <option value="Sicht" data-i18n="field.reichweite_sicht">Sicht</option>
          <option value="Spezial" data-i18n="field.reichweite_spezial">Spezial</option>
        </select>
        <select name="attr_sr6_roll_popup_value_4_select_matrix_access" class="sr6-roll-popup-field-input sr6-roll-popup-field-input--select sr6-roll-popup-field-input--select-matrix-access">
          <option value="Benutzer" data-i18n="field.matrix_zugriff_benutzer">Benutzer</option>
          <option value="Admin" data-i18n="field.matrix_zugriff_admin">Admin</option>
          <option value="Root" data-i18n="field.matrix_zugriff_root">Root</option>
        </select>
        <select name="attr_sr6_roll_popup_value_4_select_ammo" class="sr6-roll-popup-field-input sr6-roll-popup-field-input--select sr6-roll-popup-field-input--select-ammo">
          <option value="Standard" data-i18n="field.munition_standard">Standard</option>
          <option value="Huelsenlos" data-i18n="field.munition_huelsenlos">Hülsenlos</option>
          <option value="APDS" data-i18n="field.munition_apds">APDS</option>
          <option value="Explosiv" data-i18n="field.munition_explosiv">Explosiv</option>
          <option value="Flechette" data-i18n="field.munition_flechette">Flechette</option>
          <option value="Gel" data-i18n="field.munition_gel">Gel</option>
          <option value="Injektionspfeil" data-i18n="field.munition_injektionspfeil">Injektionspfeil</option>
          <option value="Schocker" data-i18n="field.munition_schocker">Schocker</option>
          <option value="DMSO-Gelpack" data-i18n="field.munition_dmso_gelpack">DMSO-Gelpack</option>
        </select>
        <select name="attr_sr6_roll_popup_value_4_select_melee_attribute" class="sr6-roll-popup-field-input sr6-roll-popup-field-input--select sr6-roll-popup-field-input--select-melee-attribute">
          <option value="Geschicklichkeit" data-i18n="field.geschicklichkeit">Geschicklichkeit</option>
          <option value="Stärke" data-i18n="field.staerke">Stärke</option>
        </select>
      </label>
      <label class="sr6-roll-popup-field sr6-roll-popup-field--5">
        <input type="text" name="attr_sr6_roll_popup_slot_5_label" value="" readonly class="sr6-roll-popup-field-label" />
        <input type="number" name="attr_sr6_roll_popup_value_5_number" value="0" class="sr6-roll-popup-field-input sr6-roll-popup-field-input--number" />
        <input type="text" name="attr_sr6_roll_popup_value_5_text" value="" class="sr6-roll-popup-field-input sr6-roll-popup-field-input--text" />
        <input type="checkbox" name="attr_sr6_roll_popup_value_5_checkbox" value="1" class="sr6-roll-popup-field-input sr6-roll-popup-field-input--checkbox" />
        <select name="attr_sr6_roll_popup_value_5_select_visibility" class="sr6-roll-popup-field-input sr6-roll-popup-field-input--select sr6-roll-popup-field-input--select-visibility">
          <option value="clear" data-i18n="field.popup_sicht_klar">Klare Sicht</option>
          <option value="partial" data-i18n="field.popup_sicht_leicht">Leicht verdeckt</option>
          <option value="heavy" data-i18n="field.popup_sicht_stark">Stark verdeckt</option>
          <option value="blind" data-i18n="field.popup_sicht_blind">Blindes Feuer</option>
        </select>
        <select name="attr_sr6_roll_popup_value_5_select_movement" class="sr6-roll-popup-field-input sr6-roll-popup-field-input--select sr6-roll-popup-field-input--select-movement">
          <option value="steady" data-i18n="field.popup_bewegung_ruhig">Ruhiges Ziel</option>
          <option value="walking" data-i18n="field.popup_bewegung_leicht">Leichte Bewegung</option>
          <option value="running" data-i18n="field.popup_bewegung_schnell">Schnelle Bewegung</option>
        </select>
        <select name="attr_sr6_roll_popup_value_5_select_spell_range" class="sr6-roll-popup-field-input sr6-roll-popup-field-input--select sr6-roll-popup-field-input--select-spell-range">
          <option value="Selbst" data-i18n="field.reichweite_selbst">Selbst</option>
          <option value="Beruehrung" data-i18n="field.reichweite_beruehrung">Berührung</option>
          <option value="Sicht" data-i18n="field.reichweite_sicht">Sicht</option>
          <option value="Spezial" data-i18n="field.reichweite_spezial">Spezial</option>
        </select>
        <select name="attr_sr6_roll_popup_value_5_select_matrix_access" class="sr6-roll-popup-field-input sr6-roll-popup-field-input--select sr6-roll-popup-field-input--select-matrix-access">
          <option value="Benutzer" data-i18n="field.matrix_zugriff_benutzer">Benutzer</option>
          <option value="Admin" data-i18n="field.matrix_zugriff_admin">Admin</option>
          <option value="Root" data-i18n="field.matrix_zugriff_root">Root</option>
        </select>
        <select name="attr_sr6_roll_popup_value_5_select_ammo" class="sr6-roll-popup-field-input sr6-roll-popup-field-input--select sr6-roll-popup-field-input--select-ammo">
          <option value="Standard" data-i18n="field.munition_standard">Standard</option>
          <option value="Huelsenlos" data-i18n="field.munition_huelsenlos">Hülsenlos</option>
          <option value="APDS" data-i18n="field.munition_apds">APDS</option>
          <option value="Explosiv" data-i18n="field.munition_explosiv">Explosiv</option>
          <option value="Flechette" data-i18n="field.munition_flechette">Flechette</option>
          <option value="Gel" data-i18n="field.munition_gel">Gel</option>
          <option value="Injektionspfeil" data-i18n="field.munition_injektionspfeil">Injektionspfeil</option>
          <option value="Schocker" data-i18n="field.munition_schocker">Schocker</option>
          <option value="DMSO-Gelpack" data-i18n="field.munition_dmso_gelpack">DMSO-Gelpack</option>
        </select>
        <select name="attr_sr6_roll_popup_value_5_select_melee_attribute" class="sr6-roll-popup-field-input sr6-roll-popup-field-input--select sr6-roll-popup-field-input--select-melee-attribute">
          <option value="Geschicklichkeit" data-i18n="field.geschicklichkeit">Geschicklichkeit</option>
          <option value="Stärke" data-i18n="field.staerke">Stärke</option>
        </select>
      </label>
      <label class="sr6-roll-popup-field sr6-roll-popup-field--6">
        <input type="text" name="attr_sr6_roll_popup_slot_6_label" value="" readonly class="sr6-roll-popup-field-label" />
        <input type="number" name="attr_sr6_roll_popup_value_6_number" value="0" class="sr6-roll-popup-field-input sr6-roll-popup-field-input--number" />
        <input type="text" name="attr_sr6_roll_popup_value_6_text" value="" class="sr6-roll-popup-field-input sr6-roll-popup-field-input--text" />
        <input type="checkbox" name="attr_sr6_roll_popup_value_6_checkbox" value="1" class="sr6-roll-popup-field-input sr6-roll-popup-field-input--checkbox" />
        <select name="attr_sr6_roll_popup_value_6_select_visibility" class="sr6-roll-popup-field-input sr6-roll-popup-field-input--select sr6-roll-popup-field-input--select-visibility">
          <option value="clear" data-i18n="field.popup_sicht_klar">Klare Sicht</option>
          <option value="partial" data-i18n="field.popup_sicht_leicht">Leicht verdeckt</option>
          <option value="heavy" data-i18n="field.popup_sicht_stark">Stark verdeckt</option>
          <option value="blind" data-i18n="field.popup_sicht_blind">Blindes Feuer</option>
        </select>
        <select name="attr_sr6_roll_popup_value_6_select_movement" class="sr6-roll-popup-field-input sr6-roll-popup-field-input--select sr6-roll-popup-field-input--select-movement">
          <option value="steady" data-i18n="field.popup_bewegung_ruhig">Ruhiges Ziel</option>
          <option value="walking" data-i18n="field.popup_bewegung_leicht">Leichte Bewegung</option>
          <option value="running" data-i18n="field.popup_bewegung_schnell">Schnelle Bewegung</option>
        </select>
        <select name="attr_sr6_roll_popup_value_6_select_spell_range" class="sr6-roll-popup-field-input sr6-roll-popup-field-input--select sr6-roll-popup-field-input--select-spell-range">
          <option value="Selbst" data-i18n="field.reichweite_selbst">Selbst</option>
          <option value="Beruehrung" data-i18n="field.reichweite_beruehrung">Berührung</option>
          <option value="Sicht" data-i18n="field.reichweite_sicht">Sicht</option>
          <option value="Spezial" data-i18n="field.reichweite_spezial">Spezial</option>
        </select>
        <select name="attr_sr6_roll_popup_value_6_select_matrix_access" class="sr6-roll-popup-field-input sr6-roll-popup-field-input--select sr6-roll-popup-field-input--select-matrix-access">
          <option value="Benutzer" data-i18n="field.matrix_zugriff_benutzer">Benutzer</option>
          <option value="Admin" data-i18n="field.matrix_zugriff_admin">Admin</option>
          <option value="Root" data-i18n="field.matrix_zugriff_root">Root</option>
        </select>
        <select name="attr_sr6_roll_popup_value_6_select_ammo" class="sr6-roll-popup-field-input sr6-roll-popup-field-input--select sr6-roll-popup-field-input--select-ammo">
          <option value="Standard" data-i18n="field.munition_standard">Standard</option>
          <option value="Huelsenlos" data-i18n="field.munition_huelsenlos">Hülsenlos</option>
          <option value="APDS" data-i18n="field.munition_apds">APDS</option>
          <option value="Explosiv" data-i18n="field.munition_explosiv">Explosiv</option>
          <option value="Flechette" data-i18n="field.munition_flechette">Flechette</option>
          <option value="Gel" data-i18n="field.munition_gel">Gel</option>
          <option value="Injektionspfeil" data-i18n="field.munition_injektionspfeil">Injektionspfeil</option>
          <option value="Schocker" data-i18n="field.munition_schocker">Schocker</option>
          <option value="DMSO-Gelpack" data-i18n="field.munition_dmso_gelpack">DMSO-Gelpack</option>
        </select>
        <select name="attr_sr6_roll_popup_value_6_select_melee_attribute" class="sr6-roll-popup-field-input sr6-roll-popup-field-input--select sr6-roll-popup-field-input--select-melee-attribute">
          <option value="Geschicklichkeit" data-i18n="field.geschicklichkeit">Geschicklichkeit</option>
          <option value="Stärke" data-i18n="field.staerke">Stärke</option>
        </select>
      </label>
      <label class="sr6-roll-popup-field sr6-roll-popup-field--7">
        <input type="text" name="attr_sr6_roll_popup_slot_7_label" value="" readonly class="sr6-roll-popup-field-label" />
        <input type="number" name="attr_sr6_roll_popup_value_7_number" value="0" class="sr6-roll-popup-field-input sr6-roll-popup-field-input--number" />
        <input type="text" name="attr_sr6_roll_popup_value_7_text" value="" class="sr6-roll-popup-field-input sr6-roll-popup-field-input--text" />
        <input type="checkbox" name="attr_sr6_roll_popup_value_7_checkbox" value="1" class="sr6-roll-popup-field-input sr6-roll-popup-field-input--checkbox" />
        <select name="attr_sr6_roll_popup_value_7_select_visibility" class="sr6-roll-popup-field-input sr6-roll-popup-field-input--select sr6-roll-popup-field-input--select-visibility">
          <option value="clear" data-i18n="field.popup_sicht_klar">Klare Sicht</option>
          <option value="partial" data-i18n="field.popup_sicht_leicht">Leicht verdeckt</option>
          <option value="heavy" data-i18n="field.popup_sicht_stark">Stark verdeckt</option>
          <option value="blind" data-i18n="field.popup_sicht_blind">Blindes Feuer</option>
        </select>
        <select name="attr_sr6_roll_popup_value_7_select_movement" class="sr6-roll-popup-field-input sr6-roll-popup-field-input--select sr6-roll-popup-field-input--select-movement">
          <option value="steady" data-i18n="field.popup_bewegung_ruhig">Ruhiges Ziel</option>
          <option value="walking" data-i18n="field.popup_bewegung_leicht">Leichte Bewegung</option>
          <option value="running" data-i18n="field.popup_bewegung_schnell">Schnelle Bewegung</option>
        </select>
        <select name="attr_sr6_roll_popup_value_7_select_spell_range" class="sr6-roll-popup-field-input sr6-roll-popup-field-input--select sr6-roll-popup-field-input--select-spell-range">
          <option value="Selbst" data-i18n="field.reichweite_selbst">Selbst</option>
          <option value="Beruehrung" data-i18n="field.reichweite_beruehrung">Berührung</option>
          <option value="Sicht" data-i18n="field.reichweite_sicht">Sicht</option>
          <option value="Spezial" data-i18n="field.reichweite_spezial">Spezial</option>
        </select>
        <select name="attr_sr6_roll_popup_value_7_select_matrix_access" class="sr6-roll-popup-field-input sr6-roll-popup-field-input--select sr6-roll-popup-field-input--select-matrix-access">
          <option value="Benutzer" data-i18n="field.matrix_zugriff_benutzer">Benutzer</option>
          <option value="Admin" data-i18n="field.matrix_zugriff_admin">Admin</option>
          <option value="Root" data-i18n="field.matrix_zugriff_root">Root</option>
        </select>
        <select name="attr_sr6_roll_popup_value_7_select_ammo" class="sr6-roll-popup-field-input sr6-roll-popup-field-input--select sr6-roll-popup-field-input--select-ammo">
          <option value="Standard" data-i18n="field.munition_standard">Standard</option>
          <option value="Huelsenlos" data-i18n="field.munition_huelsenlos">Hülsenlos</option>
          <option value="APDS" data-i18n="field.munition_apds">APDS</option>
          <option value="Explosiv" data-i18n="field.munition_explosiv">Explosiv</option>
          <option value="Flechette" data-i18n="field.munition_flechette">Flechette</option>
          <option value="Gel" data-i18n="field.munition_gel">Gel</option>
          <option value="Injektionspfeil" data-i18n="field.munition_injektionspfeil">Injektionspfeil</option>
          <option value="Schocker" data-i18n="field.munition_schocker">Schocker</option>
          <option value="DMSO-Gelpack" data-i18n="field.munition_dmso_gelpack">DMSO-Gelpack</option>
        </select>
        <select name="attr_sr6_roll_popup_value_7_select_melee_attribute" class="sr6-roll-popup-field-input sr6-roll-popup-field-input--select sr6-roll-popup-field-input--select-melee-attribute">
          <option value="Geschicklichkeit" data-i18n="field.geschicklichkeit">Geschicklichkeit</option>
          <option value="Stärke" data-i18n="field.staerke">Stärke</option>
        </select>
      </label>
    </div>
    <div class="sr6-roll-popup-actions">
      <button
        type="action"
        name="act_probe_popup_cancel"
        class="sr6-roll-popup-button sr6-roll-popup-button--secondary"
        data-i18n="ui.roll_popup_cancel">
        Abbrechen
      </button>
      <button
        type="action"
        name="act_probe_popup_confirm"
        class="sr6-roll-popup-button sr6-roll-popup-button--primary"
        data-i18n="ui.roll_popup_roll">
        Würfeln
      </button>
    </div>
  </div>
</div>
