<!-- Block: Einstellungen -->
            <div class="sr6-settings-panel">
              <div class="sr6-language-control">
                <label for="sr6-language-select" data-i18n="ui.sprache"
                  >Sprache</label
                >
                <select id="sr6-language-select" name="attr_sr6_ui_sprache">
                  <option value="de">DE</option>
                  <option value="en">EN</option>
                  <option value="fr">FR</option>
                </select>
              </div>

              <div class="sr6-charactersheet-row sr6-charactersheet-row-2">
                <label class="sr6-charactersheet-field">
                  <span data-i18n="field.option_auto_berechnung"
                    >Auto-Berechnung</span
                  >
                  <input
                    type="text"
                    name="attr_sr6_setting_auto_berechnung"
                    value="an" />
                </label>

                <label class="sr6-charactersheet-field">
                  <span data-i18n="field.option_rolltemplate"
                    >Rolltemplate-Stil</span
                  >
                  <input
                    type="text"
                    name="attr_sr6_setting_rolltemplate"
                    value="default" />
                </label>
              </div>
            </div>
<!-- End Block: Einstellungen -->
