<!-- BEGIN BLOCK: Kampf Fernkampf -->
<section
  class="sr6-charactersheet-box sr6-charactersheet-box-kampf-fernkampf"
  aria-labelledby="kampf-fernkampf-titel">
  <h2
    id="kampf-fernkampf-titel"
    class="sr6-charactersheet-box-title"
    data-i18n="section.kampf_fernkampf">
    Fernkampfwaffen
  </h2>

  <div class="sr6-charactersheet-box-content">
    <!-- BEGIN BLOCK: Repeating Fernkampfwaffen -->
    <fieldset class="repeating_sr6fernkampfwaffen">
      <div class="sr6-foundry-item">
        <div class="sr6-foundry-item-head sr6-charactersheet-row sr6-charactersheet-row-3">
          <div class="sr6-charactersheet-field">
            <span data-i18n="field.fernkampfwaffe">Fernkampfwaffe</span>
            <input type="text" name="attr_fernkampfwaffe" />
          </div>

          <div class="sr6-charactersheet-field">
            <span data-i18n="field.fertigkeit">Fertigkeit</span>
            <select name="attr_fernkampf_fertigkeit">
              <option value="Feuerwaffen">Feuerwaffen</option>
              <option value="Exotische Waffen">Exotische Waffen</option>
            </select>
          </div>

          <div class="sr6-charactersheet-field">
            <span data-i18n="field.waffentyp">Waffentyp</span>
            <select name="attr_fernkampf_waffentyp">
              <option value="Pistole">Pistole</option>
              <option value="Maschinenpistole">Maschinenpistole</option>
              <option value="Sturmgewehr">Sturmgewehr</option>
              <option value="Schrotflinte">Schrotflinte</option>
              <option value="Scharfschützengewehr">Scharfschützengewehr</option>
              <option value="Schwere Waffe">Schwere Waffe</option>
              <option value="Werfer">Werfer</option>
              <option value="Bogen/Armbrust">Bogen/Armbrust</option>
              <option value="Exotisch">Exotisch</option>
            </select>
          </div>
        </div>

        <div class="sr6-foundry-item-row sr6-charactersheet-row sr6-charactersheet-row-3">
          <div class="sr6-charactersheet-field">
            <span data-i18n="field.schaden">Schaden</span>
            <input type="text" name="attr_fernkampf_schaden" />
          </div>

          <div class="sr6-charactersheet-field">
            <span data-i18n="field.modus">Modus</span>
            <input type="text" name="attr_fernkampf_modus" />
          </div>

          <div class="sr6-charactersheet-field">
            <span data-i18n="field.munition">Munition</span>
            <select name="attr_fernkampf_munition">
              <option value="Standard">Standard</option>
              <option value="Huelsenlos">Hülsenlos</option>
              <option value="APDS">APDS</option>
              <option value="Explosiv">Explosiv</option>
              <option value="Flechette">Flechette</option>
              <option value="Gel">Gel</option>
              <option value="Injektionspfeil">Injektionspfeil</option>
              <option value="Schocker">Schocker</option>
              <option value="DMSO-Gelpack">DMSO-Gelpack</option>
            </select>
          </div>
        </div>

        <div class="sr6-foundry-item-range sr6-charactersheet-row sr6-charactersheet-row-5">
          <div class="sr6-charactersheet-field">
            <span data-i18n="field.s_nah">S. Nah</span>
            <div class="sr6-charactersheet-field-input-with-dice">
              <input type="text" name="attr_fernkampf_s_nah" /><button
                type="roll"
                class="sr6-charactersheet-field-dice-button"
                name="roll_fernkampf_s_nah"
                value="&{template:default} {{name=Fernkampf-Test}} {{Waffe=@{fernkampfwaffe}}} {{Reichweite=S. Nah}} {{Pool=[[@{fernkampf_s_nah}]]}} {{Erfolge=[[@{fernkampf_s_nah}d6cs>4]]}}"
                aria-label="Wuerfeln"></button>
            </div>
          </div>

          <div class="sr6-charactersheet-field">
            <span data-i18n="field.nah">Nah</span>
            <div class="sr6-charactersheet-field-input-with-dice">
              <input type="text" name="attr_fernkampf_nah" /><button
                type="roll"
                class="sr6-charactersheet-field-dice-button"
                name="roll_fernkampf_nah"
                value="&{template:default} {{name=Fernkampf-Test}} {{Waffe=@{fernkampfwaffe}}} {{Reichweite=Nah}} {{Pool=[[@{fernkampf_nah}]]}} {{Erfolge=[[@{fernkampf_nah}d6cs>4]]}}"
                aria-label="Wuerfeln"></button>
            </div>
          </div>

          <div class="sr6-charactersheet-field">
            <span data-i18n="field.mittel">Mittel</span>
            <div class="sr6-charactersheet-field-input-with-dice">
              <input type="text" name="attr_fernkampf_mittel" /><button
                type="roll"
                class="sr6-charactersheet-field-dice-button"
                name="roll_fernkampf_mittel"
                value="&{template:default} {{name=Fernkampf-Test}} {{Waffe=@{fernkampfwaffe}}} {{Reichweite=Mittel}} {{Pool=[[@{fernkampf_mittel}]]}} {{Erfolge=[[@{fernkampf_mittel}d6cs>4]]}}"
                aria-label="Wuerfeln"></button>
            </div>
          </div>

          <div class="sr6-charactersheet-field">
            <span data-i18n="field.weit">Weit</span>
            <div class="sr6-charactersheet-field-input-with-dice">
              <input type="text" name="attr_fernkampf_weit" /><button
                type="roll"
                class="sr6-charactersheet-field-dice-button"
                name="roll_fernkampf_weit"
                value="&{template:default} {{name=Fernkampf-Test}} {{Waffe=@{fernkampfwaffe}}} {{Reichweite=Weit}} {{Pool=[[@{fernkampf_weit}]]}} {{Erfolge=[[@{fernkampf_weit}d6cs>4]]}}"
                aria-label="Wuerfeln"></button>
            </div>
          </div>

          <div class="sr6-charactersheet-field">
            <span data-i18n="field.s_weit">S. Weit</span>
            <div class="sr6-charactersheet-field-input-with-dice">
              <input type="text" name="attr_fernkampf_s_weit" /><button
                type="roll"
                class="sr6-charactersheet-field-dice-button"
                name="roll_fernkampf_s_weit"
                value="&{template:default} {{name=Fernkampf-Test}} {{Waffe=@{fernkampfwaffe}}} {{Reichweite=S. Weit}} {{Pool=[[@{fernkampf_s_weit}]]}} {{Erfolge=[[@{fernkampf_s_weit}d6cs>4]]}}"
                aria-label="Wuerfeln"></button>
            </div>
          </div>
        </div>

        <div class="sr6-foundry-item-footer sr6-charactersheet-row sr6-charactersheet-row-1">
          <div class="sr6-charactersheet-field sr6-charactersheet-mod-popup">
            <details>
              <summary data-i18n="field.modifikationen">Modifikationen</summary>
              <div class="sr6-charactersheet-mod-popup-panel">
                <span data-i18n="field.modifikationen">Modifikationen</span>
                <textarea
                  name="attr_fernkampf_modifikationen"
                  rows="4"
                  placeholder="z. B. Smartgun, Laufverlängerung, Gasventil"></textarea>
              </div>
            </details>
          </div>
        </div>
      </div>
    </fieldset>
    <!-- END BLOCK: Repeating Fernkampfwaffen -->
  </div>
</section>
<!-- END BLOCK: Kampf Fernkampf -->
