<!-- BEGIN BLOCK: Kampf Nahkampf -->
<section
  class="sr6-charactersheet-box sr6-charactersheet-box-kampf-nahkampf"
  aria-labelledby="kampf-nahkampf-titel">
  <h2
    id="kampf-nahkampf-titel"
    class="sr6-charactersheet-box-title"
    data-i18n="section.kampf_nahkampf">
    Nahkampfwaffen
  </h2>

  <div class="sr6-charactersheet-box-content">
    <!-- BEGIN BLOCK: Repeating Nahkampfwaffen -->
    <fieldset class="repeating_sr6nahkampfwaffen">
      <div class="sr6-charactersheet-row sr6-charactersheet-row-3">
        <div class="sr6-charactersheet-field">
          <span data-i18n="field.nahkampfwaffe">Nahkampfwaffe</span>
          <input type="text" name="attr_nahkampfwaffe" />
        </div>

        <div class="sr6-charactersheet-field">
          <span data-i18n="field.fertigkeit">Fertigkeit</span>
          <select name="attr_nahkampf_fertigkeit">
            <option value="Nahkampf">Nahkampf</option>
            <option value="Exotische Waffen">Exotische Waffen</option>
          </select>
        </div>

        <div class="sr6-charactersheet-field">
          <span data-i18n="field.waffentyp">Waffentyp</span>
          <select name="attr_nahkampf_waffentyp">
            <option value="Klinge">Klinge</option>
            <option value="Knüppel">Knüppel</option>
            <option value="Unbewaffnet">Unbewaffnet</option>
            <option value="Stangenwaffe">Stangenwaffe</option>
            <option value="Exotisch">Exotisch</option>
          </select>
        </div>
      </div>

      <div class="sr6-charactersheet-row sr6-charactersheet-row-1">
        <div class="sr6-charactersheet-field">
          <span data-i18n="field.schaden">Schaden</span>
          <input type="text" name="attr_nahkampf_schaden" />
        </div>
      </div>

      <div class="sr6-charactersheet-row sr6-charactersheet-row-5">
        <div class="sr6-charactersheet-field">
          <span data-i18n="field.s_nah">S. Nah</span>
          <div class="sr6-charactersheet-field-input-with-dice">
            <input type="text" name="attr_nahkampf_s_nah" /><button
              type="roll"
              class="sr6-charactersheet-field-dice-button"
              name="roll_nahkampf_s_nah"
              value="&{template:default} {{name=Nahkampf-Test}} {{Waffe=@{nahkampfwaffe}}} {{Reichweite=S. Nah}} {{Pool=[[@{nahkampf_s_nah}]]}} {{Erfolge=[[@{nahkampf_s_nah}d6cs>4]]}}"
              aria-label="Wuerfeln"></button>
          </div>
        </div>

        <div class="sr6-charactersheet-field">
          <span data-i18n="field.nah">Nah</span>
          <div class="sr6-charactersheet-field-input-with-dice">
            <input type="text" name="attr_nahkampf_nah" /><button
              type="roll"
              class="sr6-charactersheet-field-dice-button"
              name="roll_nahkampf_nah"
              value="&{template:default} {{name=Nahkampf-Test}} {{Waffe=@{nahkampfwaffe}}} {{Reichweite=Nah}} {{Pool=[[@{nahkampf_nah}]]}} {{Erfolge=[[@{nahkampf_nah}d6cs>4]]}}"
              aria-label="Wuerfeln"></button>
          </div>
        </div>

        <div class="sr6-charactersheet-field">
          <span data-i18n="field.mittel">Mittel</span>
          <div class="sr6-charactersheet-field-input-with-dice">
            <input type="text" name="attr_nahkampf_mittel" /><button
              type="roll"
              class="sr6-charactersheet-field-dice-button"
              name="roll_nahkampf_mittel"
              value="&{template:default} {{name=Nahkampf-Test}} {{Waffe=@{nahkampfwaffe}}} {{Reichweite=Mittel}} {{Pool=[[@{nahkampf_mittel}]]}} {{Erfolge=[[@{nahkampf_mittel}d6cs>4]]}}"
              aria-label="Wuerfeln"></button>
          </div>
        </div>

        <div class="sr6-charactersheet-field">
          <span data-i18n="field.weit">Weit</span>
          <div class="sr6-charactersheet-field-input-with-dice">
            <input type="text" name="attr_nahkampf_weit" /><button
              type="roll"
              class="sr6-charactersheet-field-dice-button"
              name="roll_nahkampf_weit"
              value="&{template:default} {{name=Nahkampf-Test}} {{Waffe=@{nahkampfwaffe}}} {{Reichweite=Weit}} {{Pool=[[@{nahkampf_weit}]]}} {{Erfolge=[[@{nahkampf_weit}d6cs>4]]}}"
              aria-label="Wuerfeln"></button>
          </div>
        </div>

        <div class="sr6-charactersheet-field">
          <span data-i18n="field.s_weit">S. Weit</span>
          <div class="sr6-charactersheet-field-input-with-dice">
            <input type="text" name="attr_nahkampf_s_weit" /><button
              type="roll"
              class="sr6-charactersheet-field-dice-button"
              name="roll_nahkampf_s_weit"
              value="&{template:default} {{name=Nahkampf-Test}} {{Waffe=@{nahkampfwaffe}}} {{Reichweite=S. Weit}} {{Pool=[[@{nahkampf_s_weit}]]}} {{Erfolge=[[@{nahkampf_s_weit}d6cs>4]]}}"
              aria-label="Wuerfeln"></button>
          </div>
        </div>
      </div>

      <div class="sr6-charactersheet-row sr6-charactersheet-row-1">
        <div class="sr6-charactersheet-field sr6-charactersheet-mod-popup">
          <details>
            <summary data-i18n="field.modifikationen">Modifikationen</summary>
            <div class="sr6-charactersheet-mod-popup-panel">
              <span data-i18n="field.modifikationen">Modifikationen</span>
              <textarea
                name="attr_nahkampf_modifikationen"
                rows="4"
                placeholder="z. B. Reichweitenmodul, Teleskopschaft"></textarea>
            </div>
          </details>
        </div>
      </div>
    </fieldset>
    <!-- END BLOCK: Repeating Nahkampfwaffen -->
  </div>
</section>
<!-- END BLOCK: Kampf Nahkampf -->
