<!-- BEGIN BLOCK: Fertigkeiten -->
            <section
              class="sr6-charactersheet-box sr6-charactersheet-box-fertigkeiten"
              aria-labelledby="fertigkeiten-titel">
              <h2
                id="fertigkeiten-titel"
                class="sr6-charactersheet-box-title"
                data-i18n="section.fertigkeiten_basis">
                Fertigkeiten (Basis)
              </h2>

              <div class="sr6-charactersheet-box-content">
                <div class="sr6-charactersheet-skill-table-wrap">
                  <div class="sr6-charactersheet-skill-table">
                    <div
                      class="sr6-charactersheet-skill-row sr6-charactersheet-skill-row--header">
                      <span data-i18n="field.fertigkeit">Fertigkeit</span>
                      <span data-i18n="field.fertigkeitsattribut"
                        >Attribut</span
                      >
                      <span data-i18n="field.fertigkeitsrang">Rang</span>
                      <span data-i18n="field.fertigkeitsmodifikator">Mod.</span>
                      <span data-i18n="field.fertigkeits_pool">Pool</span>
                      <span data-i18n="field.wurf">Wurf</span>
                    </div>

                    <div class="sr6-charactersheet-skill-row">
                      <span data-i18n="skill.athletik">Athletik</span>
                      <input
                        type="text"
                        name="attr_sr6_skill_athletik_attribut" />
                      <input type="text" name="attr_sr6_skill_athletik_rang" />
                      <input
                        type="text"
                        name="attr_sr6_skill_athletik_modifikator" />
                      <input type="text" name="attr_sr6_skill_athletik_pool" />
                      <button
                        type="roll"
                        class="sr6-charactersheet-field-dice-button"
                        name="roll_sr6_skill_athletik"
                        value="&{template:default} {{name=Fertigkeits-Test}} {{Fertigkeit=Athletik}} {{Pool=[[@{sr6_skill_athletik_pool}]]}} {{Erfolge=[[@{sr6_skill_athletik_pool}d6cs>4]]}}"
                        aria-label="Wuerfeln"></button>
                    </div>

                    <div class="sr6-charactersheet-skill-row">
                      <span data-i18n="skill.heimlichkeit">Heimlichkeit</span>
                      <input
                        type="text"
                        name="attr_sr6_skill_heimlichkeit_attribut" />
                      <input
                        type="text"
                        name="attr_sr6_skill_heimlichkeit_rang" />
                      <input
                        type="text"
                        name="attr_sr6_skill_heimlichkeit_modifikator" />
                      <input
                        type="text"
                        name="attr_sr6_skill_heimlichkeit_pool" />
                      <button
                        type="roll"
                        class="sr6-charactersheet-field-dice-button"
                        name="roll_sr6_skill_heimlichkeit"
                        value="&{template:default} {{name=Fertigkeits-Test}} {{Fertigkeit=Heimlichkeit}} {{Pool=[[@{sr6_skill_heimlichkeit_pool}]]}} {{Erfolge=[[@{sr6_skill_heimlichkeit_pool}d6cs>4]]}}"
                        aria-label="Wuerfeln"></button>
                    </div>

                    <div class="sr6-charactersheet-skill-row">
                      <span data-i18n="skill.wahrnehmung">Wahrnehmung</span>
                      <input
                        type="text"
                        name="attr_sr6_skill_wahrnehmung_attribut" />
                      <input
                        type="text"
                        name="attr_sr6_skill_wahrnehmung_rang" />
                      <input
                        type="text"
                        name="attr_sr6_skill_wahrnehmung_modifikator" />
                      <input
                        type="text"
                        name="attr_sr6_skill_wahrnehmung_pool" />
                      <button
                        type="roll"
                        class="sr6-charactersheet-field-dice-button"
                        name="roll_sr6_skill_wahrnehmung"
                        value="&{template:default} {{name=Fertigkeits-Test}} {{Fertigkeit=Wahrnehmung}} {{Pool=[[@{sr6_skill_wahrnehmung_pool}]]}} {{Erfolge=[[@{sr6_skill_wahrnehmung_pool}d6cs>4]]}}"
                        aria-label="Wuerfeln"></button>
                    </div>

                    <div class="sr6-charactersheet-skill-row">
                      <span data-i18n="skill.ueberreden">Überreden</span>
                      <input
                        type="text"
                        name="attr_sr6_skill_ueberreden_attribut" />
                      <input
                        type="text"
                        name="attr_sr6_skill_ueberreden_rang" />
                      <input
                        type="text"
                        name="attr_sr6_skill_ueberreden_modifikator" />
                      <input
                        type="text"
                        name="attr_sr6_skill_ueberreden_pool" />
                      <button
                        type="roll"
                        class="sr6-charactersheet-field-dice-button"
                        name="roll_sr6_skill_ueberreden"
                        value="&{template:default} {{name=Fertigkeits-Test}} {{Fertigkeit=Ueberreden}} {{Pool=[[@{sr6_skill_ueberreden_pool}]]}} {{Erfolge=[[@{sr6_skill_ueberreden_pool}d6cs>4]]}}"
                        aria-label="Wuerfeln"></button>
                    </div>

                    <div class="sr6-charactersheet-skill-row">
                      <span data-i18n="skill.elektronik">Elektronik</span>
                      <input
                        type="text"
                        name="attr_sr6_skill_elektronik_attribut" />
                      <input
                        type="text"
                        name="attr_sr6_skill_elektronik_rang" />
                      <input
                        type="text"
                        name="attr_sr6_skill_elektronik_modifikator" />
                      <input
                        type="text"
                        name="attr_sr6_skill_elektronik_pool" />
                      <button
                        type="roll"
                        class="sr6-charactersheet-field-dice-button"
                        name="roll_sr6_skill_elektronik"
                        value="&{template:default} {{name=Fertigkeits-Test}} {{Fertigkeit=Elektronik}} {{Pool=[[@{sr6_skill_elektronik_pool}]]}} {{Erfolge=[[@{sr6_skill_elektronik_pool}d6cs>4]]}}"
                        aria-label="Wuerfeln"></button>
                    </div>
                  </div>
                </div>
              </div>
            </section>
<!-- END BLOCK: Fertigkeiten -->
