<!-- BEGIN BLOCK: Matrix Kernwerte -->
            <section
              class="sr6-charactersheet-box"
              aria-labelledby="matrix-kern-titel">
              <h2
                id="matrix-kern-titel"
                class="sr6-charactersheet-box-title"
                data-i18n="section.matrix_kern">
                Matrix: Kernwerte
              </h2>

              <div class="sr6-charactersheet-box-content">
                <div class="sr6-charactersheet-row sr6-charactersheet-row-2">
                  <label class="sr6-charactersheet-field">
                    <span data-i18n="field.cyberdeck_persona"
                      >Cyberdeck/Persona</span
                    >
                    <input
                      type="text"
                      name="attr_sr6_matrix_cyberdeck_persona" />
                  </label>

                  <label class="sr6-charactersheet-field">
                    <span data-i18n="field.matrix_initiative"
                      >Matrix-Initiative</span
                    >
                    <input type="text" name="attr_sr6_matrix_initiative" />
                  </label>
                </div>

                <div class="sr6-charactersheet-row sr6-charactersheet-row-4">
                  <label class="sr6-charactersheet-field">
                    <span data-i18n="field.matrix_angriff">Angriff</span>
                    <input type="text" name="attr_sr6_matrix_angriff" />
                  </label>

                  <label class="sr6-charactersheet-field">
                    <span data-i18n="field.matrix_schleicher">Schleicher</span>
                    <input type="text" name="attr_sr6_matrix_schleicher" />
                  </label>

                  <label class="sr6-charactersheet-field">
                    <span data-i18n="field.matrix_datenverarbeitung"
                      >Datenverarbeitung</span
                    >
                    <input
                      type="text"
                      name="attr_sr6_matrix_datenverarbeitung" />
                  </label>

                  <label class="sr6-charactersheet-field">
                    <span data-i18n="field.matrix_firewall">Firewall</span>
                    <input type="text" name="attr_sr6_matrix_firewall" />
                  </label>
                </div>
              </div>
            </section>
<!-- END BLOCK: Matrix Kernwerte -->
