<!-- BEGIN BLOCK: Kampf -->
<section
  class="sr6-charactersheet-box sr6-charactersheet-box-kampf sr6-editable-section sr6-editable-overview-section"
  aria-labelledby="kampf-titel">
  <div class="sr6-editable-section-title-row">
    <h1
      id="kampf-titel"
      class="sr6-charactersheet-box-title"
      data-i18n="section.wichtige_kampf_infos">
      Kampf
    </h1>
    <label class="sr6-editable-section-toggle">
      <input
        type="checkbox"
        name="attr_sr6_allgemein_kampf_edit_mode"
        class="sr6-editable-section-mode"
                      />
                    <span data-i18n="field.editieren">Editieren</span>
    </label>
  </div>

  <div class="sr6-charactersheet-box-content">
    <!-- BEGIN BLOCK: Kampf Spalten -->
    <div class="sr6-charactersheet-kampfinfos-grid">
      <!-- BEGIN BLOCK: Spalte 1 - Fernkampf -->
      <div class="sr6-charactersheet-kampfinfos-column">
        <!-- BEGIN BLOCK: Primäre Fernkampfwaffe -->
        <div class="sr6-charactersheet-row sr6-charactersheet-row-1">
          <div class="sr6-charactersheet-field">
            <span data-i18n="field.primaere_fernkampfwaffe">Primäre Fernkampfwaffe</span>
            <input type="text" name="attr_sr6_combat_primaere_fernkampfwaffe" />
          </div>
        </div>
        <!-- END BLOCK: Primäre Fernkampfwaffe -->

        <!-- BEGIN BLOCK: Fernkampf Schaden/Modus/Reichweiten -->
        <div class="sr6-charactersheet-row sr6-charactersheet-row-7">
          <div class="sr6-charactersheet-field">
            <span data-i18n="field.schaden">Schaden</span>
            <input type="text" name="attr_sr6_combat_fernkampf_schaden" />
          </div>
          <div class="sr6-charactersheet-field">
            <span data-i18n="field.modus">Modus</span>
            <input type="text" name="attr_sr6_combat_fernkampf_modus" />
          </div>
          <div class="sr6-charactersheet-field">
            <span data-i18n="field.s_nah">S. Nah</span>
            <div class="sr6-charactersheet-field-input-with-dice">
              <input type="text" name="attr_sr6_combat_fernkampf_sehr_nah" /><button
                type="roll"
                class="sr6-charactersheet-field-dice-button"
                name="roll_sr6_combat_fernkampf_sehr_nah"
                value="&{template:default} {{name=Fernkampf-Test}} {{Waffe=@{sr6_combat_primaere_fernkampfwaffe}}} {{Modus=@{sr6_combat_fernkampf_modus}}} {{Attribut=S. Nah}} {{Pool=[[@{sr6_combat_fernkampf_sehr_nah}]]}} {{Erfolge=[[@{sr6_combat_fernkampf_sehr_nah}d6cs>4]]}}"
                aria-label="Wuerfeln"></button>
            </div>
          </div>
          <div class="sr6-charactersheet-field">
            <span data-i18n="field.nah">Nah</span>
            <div class="sr6-charactersheet-field-input-with-dice">
              <input type="text" name="attr_sr6_combat_fernkampf_nah" /><button
                type="roll"
                class="sr6-charactersheet-field-dice-button"
                name="roll_sr6_combat_fernkampf_nah"
                value="&{template:default} {{name=Fernkampf-Test}} {{Waffe=@{sr6_combat_primaere_fernkampfwaffe}}} {{Modus=@{sr6_combat_fernkampf_modus}}} {{Attribut=Nah}} {{Pool=[[@{sr6_combat_fernkampf_nah}]]}} {{Erfolge=[[@{sr6_combat_fernkampf_nah}d6cs>4]]}}"
                aria-label="Wuerfeln"></button>
            </div>
          </div>
          <div class="sr6-charactersheet-field">
            <span data-i18n="field.mittel">Mittel</span>
            <div class="sr6-charactersheet-field-input-with-dice">
              <input type="text" name="attr_sr6_combat_fernkampf_mittel" /><button
                type="roll"
                class="sr6-charactersheet-field-dice-button"
                name="roll_sr6_combat_fernkampf_mittel"
                value="&{template:default} {{name=Fernkampf-Test}} {{Waffe=@{sr6_combat_primaere_fernkampfwaffe}}} {{Modus=@{sr6_combat_fernkampf_modus}}} {{Attribut=Mittel}} {{Pool=[[@{sr6_combat_fernkampf_mittel}]]}} {{Erfolge=[[@{sr6_combat_fernkampf_mittel}d6cs>4]]}}"
                aria-label="Wuerfeln"></button>
            </div>
          </div>
          <div class="sr6-charactersheet-field">
            <span data-i18n="field.weit">Weit</span>
            <div class="sr6-charactersheet-field-input-with-dice">
              <input type="text" name="attr_sr6_combat_fernkampf_weit" /><button
                type="roll"
                class="sr6-charactersheet-field-dice-button"
                name="roll_sr6_combat_fernkampf_weit"
                value="&{template:default} {{name=Fernkampf-Test}} {{Waffe=@{sr6_combat_primaere_fernkampfwaffe}}} {{Modus=@{sr6_combat_fernkampf_modus}}} {{Attribut=Weit}} {{Pool=[[@{sr6_combat_fernkampf_weit}]]}} {{Erfolge=[[@{sr6_combat_fernkampf_weit}d6cs>4]]}}"
                aria-label="Wuerfeln"></button>
            </div>
          </div>
          <div class="sr6-charactersheet-field">
            <span data-i18n="field.s_weit">S. Weit</span>
            <div class="sr6-charactersheet-field-input-with-dice">
              <input type="text" name="attr_sr6_combat_fernkampf_sehr_weit" /><button
                type="roll"
                class="sr6-charactersheet-field-dice-button"
                name="roll_sr6_combat_fernkampf_sehr_weit"
                value="&{template:default} {{name=Fernkampf-Test}} {{Waffe=@{sr6_combat_primaere_fernkampfwaffe}}} {{Modus=@{sr6_combat_fernkampf_modus}}} {{Attribut=S. Weit}} {{Pool=[[@{sr6_combat_fernkampf_sehr_weit}]]}} {{Erfolge=[[@{sr6_combat_fernkampf_sehr_weit}d6cs>4]]}}"
                aria-label="Wuerfeln"></button>
            </div>
          </div>
        </div>
        <!-- END BLOCK: Fernkampf Schaden/Modus/Reichweiten -->

        <!-- BEGIN BLOCK: Munition -->
        <div class="sr6-charactersheet-row sr6-charactersheet-row-1">
          <div class="sr6-charactersheet-field">
            <span data-i18n="field.munition">Munition</span>
            <select name="attr_sr6_combat_munition">
              <option value="Standard">Standard</option>
              <option value="Huelsenlos">Hülsenlos</option>
              <option value="APDS">APDS</option>
              <option value="Explosiv">Explosiv</option>
              <option value="Flechette">Flechette</option>
              <option value="Gel">Gel</option>
              <option value="Injektionspfeil">Injektionspfeil</option>
              <option value="Schocker">Schocker</option>
              <option value="DMSO-Gelpack">DMSO-Gelpack</option>
            </select>
          </div>
        </div>
        <!-- END BLOCK: Munition -->
      </div>
      <!-- END BLOCK: Spalte 1 - Fernkampf -->

      <!-- BEGIN BLOCK: Spalte 2 - Nahkampf und Panzerung -->
      <div class="sr6-charactersheet-kampfinfos-column">
        <!-- BEGIN BLOCK: Primäre Nahkampfwaffe -->
        <div class="sr6-charactersheet-row sr6-charactersheet-row-1">
          <div class="sr6-charactersheet-field">
            <span data-i18n="field.primaere_nahkampfwaffe">Primäre Nahkampfwaffe</span>
            <input type="text" name="attr_sr6_combat_primaere_nahkampfwaffe" />
          </div>
        </div>
        <!-- END BLOCK: Primäre Nahkampfwaffe -->

        <!-- BEGIN BLOCK: Nahkampf Schaden/Reichweiten -->
        <div class="sr6-charactersheet-row sr6-charactersheet-row-6">
          <div class="sr6-charactersheet-field">
            <span data-i18n="field.schaden">Schaden</span>
            <input type="text" name="attr_sr6_combat_nahkampf_schaden" />
          </div>
          <div class="sr6-charactersheet-field">
            <span data-i18n="field.s_nah">S. Nah</span>
            <div class="sr6-charactersheet-field-input-with-dice">
              <input type="text" name="attr_sr6_combat_nahkampf_sehr_nah" /><button
                type="roll"
                class="sr6-charactersheet-field-dice-button"
                name="roll_sr6_combat_nahkampf_sehr_nah"
                value="&{template:default} {{name=Nahkampf-Test}} {{Waffe=@{sr6_combat_primaere_nahkampfwaffe}}} {{Attribut=S. Nah}} {{Pool=[[@{sr6_combat_nahkampf_sehr_nah}]]}} {{Erfolge=[[@{sr6_combat_nahkampf_sehr_nah}d6cs>4]]}}"
                aria-label="Wuerfeln"></button>
            </div>
          </div>
          <div class="sr6-charactersheet-field">
            <span data-i18n="field.nah">Nah</span>
            <div class="sr6-charactersheet-field-input-with-dice">
              <input type="text" name="attr_sr6_combat_nahkampf_nah" /><button
                type="roll"
                class="sr6-charactersheet-field-dice-button"
                name="roll_sr6_combat_nahkampf_nah"
                value="&{template:default} {{name=Nahkampf-Test}} {{Waffe=@{sr6_combat_primaere_nahkampfwaffe}}} {{Attribut=Nah}} {{Pool=[[@{sr6_combat_nahkampf_nah}]]}} {{Erfolge=[[@{sr6_combat_nahkampf_nah}d6cs>4]]}}"
                aria-label="Wuerfeln"></button>
            </div>
          </div>
          <div class="sr6-charactersheet-field">
            <span data-i18n="field.mittel">Mittel</span>
            <div class="sr6-charactersheet-field-input-with-dice">
              <input type="text" name="attr_sr6_combat_nahkampf_mittel" /><button
                type="roll"
                class="sr6-charactersheet-field-dice-button"
                name="roll_sr6_combat_nahkampf_mittel"
                value="&{template:default} {{name=Nahkampf-Test}} {{Waffe=@{sr6_combat_primaere_nahkampfwaffe}}} {{Attribut=Mittel}} {{Pool=[[@{sr6_combat_nahkampf_mittel}]]}} {{Erfolge=[[@{sr6_combat_nahkampf_mittel}d6cs>4]]}}"
                aria-label="Wuerfeln"></button>
            </div>
          </div>
          <div class="sr6-charactersheet-field">
            <span data-i18n="field.weit">Weit</span>
            <div class="sr6-charactersheet-field-input-with-dice">
              <input type="text" name="attr_sr6_combat_nahkampf_weit" /><button
                type="roll"
                class="sr6-charactersheet-field-dice-button"
                name="roll_sr6_combat_nahkampf_weit"
                value="&{template:default} {{name=Nahkampf-Test}} {{Waffe=@{sr6_combat_primaere_nahkampfwaffe}}} {{Attribut=Weit}} {{Pool=[[@{sr6_combat_nahkampf_weit}]]}} {{Erfolge=[[@{sr6_combat_nahkampf_weit}d6cs>4]]}}"
                aria-label="Wuerfeln"></button>
            </div>
          </div>
          <div class="sr6-charactersheet-field">
            <span data-i18n="field.s_weit">S. Weit</span>
            <div class="sr6-charactersheet-field-input-with-dice">
              <input type="text" name="attr_sr6_combat_nahkampf_sehr_weit" /><button
                type="roll"
                class="sr6-charactersheet-field-dice-button"
                name="roll_sr6_combat_nahkampf_sehr_weit"
                value="&{template:default} {{name=Nahkampf-Test}} {{Waffe=@{sr6_combat_primaere_nahkampfwaffe}}} {{Attribut=S. Weit}} {{Pool=[[@{sr6_combat_nahkampf_sehr_weit}]]}} {{Erfolge=[[@{sr6_combat_nahkampf_sehr_weit}d6cs>4]]}}"
                aria-label="Wuerfeln"></button>
            </div>
          </div>
        </div>
        <!-- END BLOCK: Nahkampf Schaden/Reichweiten -->

      </div>
      <!-- END BLOCK: Spalte 2 - Nahkampf und Panzerung -->
    </div>
    <!-- END BLOCK: Kampf Spalten -->

    <!-- BEGIN BLOCK: Primäre, Sekundäre Panzerung und Helm -->
    <div class="sr6-charactersheet-row sr6-charactersheet-row-4 sr6-charactersheet-kampf-panzerung-row">
      <div class="sr6-charactersheet-field">
        <span data-i18n="field.verteidigungswert">Verteidigungswert</span>
        <input type="text" name="attr_sr6_combat_verteidigungswert" />
      </div>
      <div class="sr6-charactersheet-field">
        <span data-i18n="field.primaere_panzerung">Primäre Panzerung</span>
        <input type="text" name="attr_sr6_combat_primaere_panzerung" />
      </div>
      <div class="sr6-charactersheet-field">
        <span data-i18n="field.sekundaere_panzerung">Sekundäre Panzerung</span>
        <input type="text" name="attr_sr6_combat_sekundaere_panzerung" />
      </div>
      <div class="sr6-charactersheet-field">
        <span data-i18n="field.helm">Helm</span>
        <input type="text" name="attr_sr6_combat_helm" />
      </div>
    </div>
    <!-- END BLOCK: Primäre, Sekundäre Panzerung und Helm -->
  </div>
</section>
<!-- END BLOCK: Kampf -->
