<!-- BEGIN BLOCK: Wichtige Kampf-Infos -->


              <section
                class="sr6-charactersheet-box sr6-charactersheet-box-wichtige-kampf-infos"
                aria-labelledby="wichtige-kampf-infos-titel">
                <h1
                  id="wichtige-kampf-infos-titel"
                  class="sr6-charactersheet-box-title"
                  data-i18n="section.wichtige_kampf_infos">
                  Wichtige Kampf-Infos
                </h1>

                <div class="sr6-charactersheet-box-content">
                  <!-- BEGIN BLOCK: Zeile 1 - Primäre Fernkampfwaffe -->
                  <div class="sr6-charactersheet-row sr6-charactersheet-row-1">
                    <label class="sr6-charactersheet-field">
                      <span data-i18n="field.primaere_fernkampfwaffe"
                        >Primäre Fernkampfwaffe</span
                      >
                      <input
                        type="text"
                        name="attr_sr6_combat_primaere_fernkampfwaffe" />
                    </label>
                  </div>
                  <!-- END BLOCK: Zeile 1 - Primäre Fernkampfwaffe -->

                  <!-- BEGIN BLOCK: Zeile 2 - Schadens-/Modus-/Reichweitenwerte -->
                  <div class="sr6-charactersheet-row sr6-charactersheet-row-7">
                    <label class="sr6-charactersheet-field">
                      <span data-i18n="field.schaden">Schaden</span>
                      <input
                        type="text"
                        name="attr_sr6_combat_fernkampf_schaden" />
                    </label>

                    <label class="sr6-charactersheet-field">
                      <span data-i18n="field.modus">Modus</span>
                      <input
                        type="text"
                        name="attr_sr6_combat_fernkampf_modus" />
                    </label>

                    <label class="sr6-charactersheet-field">
                      <span data-i18n="field.s_nah">S. Nah</span>
                      <div class="sr6-charactersheet-field-input-with-dice">
                        <input
                          type="text"
                          name="attr_sr6_combat_fernkampf_sehr_nah" /><button
                          type="roll"
                          class="sr6-charactersheet-field-dice-button"
                          name="roll_sr6_combat_fernkampf_sehr_nah"
                          value="&{template:default} {{name=Fernkampf-Test}} {{Waffe=@{sr6_combat_primaere_fernkampfwaffe}}} {{Modus=@{sr6_combat_fernkampf_modus}}} {{Attribut=S. Nah}} {{Pool=[[@{sr6_combat_fernkampf_sehr_nah}]]}} {{Erfolge=[[@{sr6_combat_fernkampf_sehr_nah}d6cs>4]]}}"
                          aria-label="Wuerfeln"></button>
                      </div>
                    </label>

                    <label class="sr6-charactersheet-field">
                      <span data-i18n="field.nah">Nah</span>
                      <div class="sr6-charactersheet-field-input-with-dice">
                        <input
                          type="text"
                          name="attr_sr6_combat_fernkampf_nah" /><button
                          type="roll"
                          class="sr6-charactersheet-field-dice-button"
                          name="roll_sr6_combat_fernkampf_nah"
                          value="&{template:default} {{name=Fernkampf-Test}} {{Waffe=@{sr6_combat_primaere_fernkampfwaffe}}} {{Modus=@{sr6_combat_fernkampf_modus}}} {{Attribut=Nah}} {{Pool=[[@{sr6_combat_fernkampf_nah}]]}} {{Erfolge=[[@{sr6_combat_fernkampf_nah}d6cs>4]]}}"
                          aria-label="Wuerfeln"></button>
                      </div>
                    </label>

                    <label class="sr6-charactersheet-field">
                      <span data-i18n="field.mittel">Mittel</span>
                      <div class="sr6-charactersheet-field-input-with-dice">
                        <input
                          type="text"
                          name="attr_sr6_combat_fernkampf_mittel" /><button
                          type="roll"
                          class="sr6-charactersheet-field-dice-button"
                          name="roll_sr6_combat_fernkampf_mittel"
                          value="&{template:default} {{name=Fernkampf-Test}} {{Waffe=@{sr6_combat_primaere_fernkampfwaffe}}} {{Modus=@{sr6_combat_fernkampf_modus}}} {{Attribut=Mittel}} {{Pool=[[@{sr6_combat_fernkampf_mittel}]]}} {{Erfolge=[[@{sr6_combat_fernkampf_mittel}d6cs>4]]}}"
                          aria-label="Wuerfeln"></button>
                      </div>
                    </label>

                    <label class="sr6-charactersheet-field">
                      <span data-i18n="field.weit">Weit</span>
                      <div class="sr6-charactersheet-field-input-with-dice">
                        <input
                          type="text"
                          name="attr_sr6_combat_fernkampf_weit" /><button
                          type="roll"
                          class="sr6-charactersheet-field-dice-button"
                          name="roll_sr6_combat_fernkampf_weit"
                          value="&{template:default} {{name=Fernkampf-Test}} {{Waffe=@{sr6_combat_primaere_fernkampfwaffe}}} {{Modus=@{sr6_combat_fernkampf_modus}}} {{Attribut=Weit}} {{Pool=[[@{sr6_combat_fernkampf_weit}]]}} {{Erfolge=[[@{sr6_combat_fernkampf_weit}d6cs>4]]}}"
                          aria-label="Wuerfeln"></button>
                      </div>
                    </label>

                    <label class="sr6-charactersheet-field">
                      <span data-i18n="field.s_weit">S. Weit</span>
                      <div class="sr6-charactersheet-field-input-with-dice">
                        <input
                          type="text"
                          name="attr_sr6_combat_fernkampf_sehr_weit" /><button
                          type="roll"
                          class="sr6-charactersheet-field-dice-button"
                          name="roll_sr6_combat_fernkampf_sehr_weit"
                          value="&{template:default} {{name=Fernkampf-Test}} {{Waffe=@{sr6_combat_primaere_fernkampfwaffe}}} {{Modus=@{sr6_combat_fernkampf_modus}}} {{Attribut=S. Weit}} {{Pool=[[@{sr6_combat_fernkampf_sehr_weit}]]}} {{Erfolge=[[@{sr6_combat_fernkampf_sehr_weit}d6cs>4]]}}"
                          aria-label="Wuerfeln"></button>
                      </div>
                    </label>
                  </div>
                  <!-- END BLOCK: Zeile 2 - Schadens-/Modus-/Reichweitenwerte -->

                  <!-- BEGIN BLOCK: Zeile 3 - Munition -->
                  <div class="sr6-charactersheet-row sr6-charactersheet-row-1">
                    <label class="sr6-charactersheet-field">
                      <span data-i18n="field.munition">Munition</span>
                      <input type="text" name="attr_sr6_combat_munition" />
                    </label>
                  </div>
                  <!-- END BLOCK: Zeile 3 - Munition -->

                  <!-- BEGIN BLOCK: Zeile 4 - Primäre Nahkampfwaffe -->
                  <div class="sr6-charactersheet-row sr6-charactersheet-row-1">
                    <label class="sr6-charactersheet-field">
                      <span data-i18n="field.primaere_nahkampfwaffe"
                        >Primäre Nahkampfwaffe</span
                      >
                      <div class="sr6-charactersheet-field-input-with-dice">
                        <input
                          type="text"
                          name="attr_sr6_combat_primaere_nahkampfwaffe" /><button
                          type="roll"
                          class="sr6-charactersheet-field-dice-button"
                          name="roll_sr6_combat_primaere_nahkampfwaffe"
                          value="&{template:default} {{name=Nahkampf-Test}} {{Waffe=@{sr6_combat_primaere_nahkampfwaffe}}} {{Attribut=Primaere Nahkampfwaffe}} {{Pool=[[@{sr6_combat_primaere_nahkampfwaffe}]]}} {{Erfolge=[[@{sr6_combat_primaere_nahkampfwaffe}d6cs>4]]}}"
                          aria-label="Wuerfeln"></button>
                      </div>
                    </label>
                  </div>
                  <!-- END BLOCK: Zeile 4 - Primäre Nahkampfwaffe -->

                  <!-- BEGIN BLOCK: Zeile 5 - Primäre Panzerung -->
                  <div class="sr6-charactersheet-row sr6-charactersheet-row-1">
                    <label class="sr6-charactersheet-field">
                      <span data-i18n="field.primaere_panzerung"
                        >Primäre Panzerung</span
                      >
                      <input
                        type="text"
                        name="attr_sr6_combat_primaere_panzerung" />
                    </label>
                  </div>
                  <!-- END BLOCK: Zeile 5 - Primäre Panzerung -->
                </div>
              </section>
<!-- END BLOCK: Wichtige Kampf-Infos -->
