.sr6-generic-list-header {
  display: none;
}

.sr6-generic-list-header span {
  font-size: 10px;
  font-weight: 700;
  color: var(--sr6-text);
  letter-spacing: 0.01rem;
}

.sr6-generic-list-header--3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.sr6-generic-list-header--4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.sr6-generic-list-header--5 {
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.sr6-generic-list-header--7 {
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.sr6-generic-list-header--6 {
  grid-template-columns: repeat(6, minmax(0, 1fr));
}
